Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "prettier --write",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

fix(subgraph): correctly derive votes field in classic round
  subgraph/schema.graphql
  subgraph/src/entities/ClassicRound.ts
Due: prettier --write

test: expecting a ruling event emitted by KlerosCore
  contracts/test/integration/index.ts
Due: prettier --write

feat: added ruling event on the arbitrator side to help with subgraph indexing
  contracts/src/arbitration/IArbitrator.sol
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

chore: explicit vea-contracts version
  contracts/package.json
  yarn.lock
Due: prettier --write

refactor: better separation between v2, v1 ethereum and v1 xdai interfaces and libraries
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/kleros-v1/ITokenController.sol
  contracts/src/kleros-v1/interfaces/IArbitrableV1.sol
  contracts/src/kleros-v1/interfaces/IArbitratorV1.sol
  contracts/src/kleros-v1/interfaces/IKlerosLiquid.sol
  contracts/src/kleros-v1/interfaces/ITokenController.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/WrappedPinakion.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/interfaces/IERC677.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/interfaces/IRandomAuRa.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/interfaces/ITokenBridge.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidToV2.sol
  contracts/src/kleros-v1/kleros-liquid/KlerosLiquidToV2Governor.sol
  contracts/src/libraries/CappedMath.sol
  contracts/src/libraries/SafeMath.sol
  contracts/src/libraries/SortitionSumTreeFactory.sol
  contracts/src/libraries/SortitionSumTreeFactoryV2.sol
  contracts/src/libraries/gnosis-chain/Bytes.sol
  contracts/src/xkleros-liquid/TokenController.sol
  contracts/test/arbitration/index.ts
Due: prettier --write, solhint --fix

feat(subgraph): handle new Ruling event
  subgraph/src/KlerosCore.ts
  subgraph/subgraph.yaml
Due: prettier --write

fix(subgraph): correctly stringify evidence group id
  subgraph/src/DisputeKitClassic.ts
Due: prettier --write

fix(web): update header kleros icon
  web/src/assets/svgs/header/kleros-court.svg
Due: none

fix(xLiquid): small fixes
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/xForeignGateway.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/WrappedPinakion.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidToV2.sol
  contracts/src/libraries/SafeMath.sol
Due: prettier --write, solhint --fix

fix(xLiquid): simplification
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidToV2.sol
Due: prettier --write, solhint --fix

fix(xLiquid): jb's feedback
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidToV2.sol
Due: prettier --write, solhint --fix

chore: arbitrator redeployment, initialized the general court from Gnosis
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deployments/arbitrumGoerli/DisputeKitClassic.json
  contracts/deployments/arbitrumGoerli/DisputeResolver.json
  contracts/deployments/arbitrumGoerli/KlerosCore.json
  contracts/deployments/arbitrumGoerli/PolicyRegistry.json
  contracts/deployments/arbitrumGoerli/RandomizerRNG.json
  contracts/deployments/arbitrumGoerli/SortitionSumTreeFactory.json
  contracts/deployments/arbitrumGoerli/SortitionSumTreeFactoryV2.json
  contracts/scripts/generateDeploymentsMarkdown.sh
  contracts/scripts/populatePolicyRegistry.ts
Due: prettier --write

fix: issue #538 Upload the policies to Estuary (instead of the Kleros gateway)
  contracts/package.json
  yarn.lock
Due: prettier --write

(refactor):removed unnecessary changes in package.json
  contracts/package.json
Due: prettier --write

refactor: added file path as input to support and json policy file
  yarn.lock
Due: none

refactor(web/WIP): simplify classic appeal code
  web/src/hooks/queries/useDisputeKitClassicMultipliers.ts
  web/src/hooks/useClassicAppealContext.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageOne.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageTwo.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/utils/index.ts
Due: prettier --write

chore: vea-contracts bumped
  contracts/package.json
  yarn.lock
Due: prettier --write

chore: added goerli network
  contracts/scripts/generateDeploymentArtifact.sh
Due: none

chore: generated artifacts for existing contracts
  contracts/deployments/chiado/TokenBridge.json
  contracts/deployments/gnosischain/PolicyRegistry.json
  contracts/deployments/gnosischain/TokenBridge.json
  contracts/deployments/gnosischain/TransactionBatcher.json
  contracts/deployments/gnosischain/WETH.json
  contracts/deployments/gnosischain/WrappedPinakion.json
  contracts/deployments/gnosischain/xKlerosLiquid.json
  contracts/deployments/gnosischain/xPNK.json
  contracts/hardhat.config.ts
  contracts/scripts/generateDeploymentArtifact.sh
Due: prettier --write

chore: extra env variable
  contracts/.env.example
Due: none

feat: chiado deployment scripts (WIP)
  contracts/deploy/01-foreign-gateway-gnosis.ts
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deployments/chiado/MetaEvidence_ArbitrableExample.json
  contracts/scripts/console-init.ts
  contracts/src/arbitration/mock/Faucet.sol
  contracts/src/arbitration/mock/WETH.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/WrappedPinakion.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidToV2.sol
Due: prettier --write, solhint --fix

fix(subgraph): event definition subgraph config
  subgraph/subgraph.yaml
Due: none

fix(subgraph): update contract addresses
  subgraph/subgraph.yaml
Due: none

chore(subgraph): update start blocks
  subgraph/subgraph.yaml
Due: none
