Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "prettier --write",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

refactor: subfolder removed
  package.json
  subgraph-fastbridge/.eslintrc.json
  subgraph-fastbridge/.prettierrc
  subgraph-fastbridge/README.md
  subgraph-fastbridge/abis/FastBridgeSender.json
  subgraph-fastbridge/fastbridge/README.md
  subgraph-fastbridge/fastbridge/src/FastBridgeSender.ts
  subgraph-fastbridge/package.json
  subgraph-fastbridge/schema.graphql
  subgraph-fastbridge/src/FastBridgeSender.ts
  subgraph-fastbridge/subgraph.yaml
  subgraph-fastbridge/tsconfig.json
  yarn.lock
Due: prettier --write

feat: bridge subgraph update script
  subgraph-fastbridge/abis/FastBridgeSender.json
  subgraph-fastbridge/scripts/updateAbis.sh
  subgraph-fastbridge/subgraph.yaml
Due: prettier --write

feat: updated and reployed the fastbridge subgraph, added a local graph node config
  contracts/README.md
  contracts/deploy/02-home-chain.ts
  contracts/deployments/arbitrumGoerli/FastBridgeSender.json
  contracts/deployments/arbitrumRinkeby/FastBridgeSender.json
  contracts/test/integration/index.ts
  subgraph-fastbridge/README.md
  subgraph-fastbridge/abis/FastBridgeSenderToEthereum.json
  subgraph-fastbridge/docker-compose.yml
  subgraph-fastbridge/package.json
  subgraph-fastbridge/schema.graphql
  subgraph-fastbridge/scripts/updateAbis.sh
  subgraph-fastbridge/src/FastBridgeSender.ts
  subgraph-fastbridge/subgraph.yaml
Due: prettier --write

fix: keeping the linter happy
  subgraph-fastbridge/src/FastBridgeSender.ts
Due: prettier --write

feat(web): add dashboard page
  web/package.json
  web/src/components/CasesDisplay/index.tsx
  web/src/components/HelpIcon.tsx
  web/src/pages/Dashboard/Courts/CourtCard.tsx
  web/src/pages/Dashboard/Courts/index.tsx
  web/src/pages/Dashboard/WithHelpTooltip.tsx
  web/src/pages/Dashboard/index.tsx
  yarn.lock
Due: prettier --write

fix(KC): properly unstake inactive juror
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

feat(KC): test for unstaking bug
  contracts/test/arbitration/unstake.ts
Due: prettier --write

test: fixed test fixtures
  contracts/test/arbitration/unstake.ts
Due: prettier --write

fix: fast bridge receiver claim() revert reason more specific
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeReceiverOnPolygon.sol
Due: prettier --write, solhint --fix

feat: migration to a L1 blockhash-based RNG with significant lookahead as recommended by EIP-4933
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/package.json
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/rng/BlockhashRNG.sol
  contracts/src/rng/BlockhashRNGFallback.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/index.ts
  contracts/test/arbitration/unstake.ts
  contracts/test/integration/index.ts
  yarn.lock
Due: prettier --write, solhint --fix

feat: accommodate latest changes to subgraph
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/src/FastBridgeSender.ts
  subgraph/src/KlerosCore.ts
  subgraph/subgraph.yaml
Due: prettier --write

fix: home page crash with empty arrays in subgraph
  web/src/hooks/useHomePageContext.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
Due: prettier --write

fix: changed the lookahead to 20 (L2 sequencer finality only)
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/unstake.ts
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

feat: added script to update the contracts address and startBlock
  subgraph/scripts/update.sh
  subgraph/subgraph.yaml
Due: none

refactor: rng inheritance simplified, removed unused incentive mechanism
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/rng/BlockhashRNG.sol
  contracts/src/rng/BlockhashRNGFallback.sol
  contracts/src/rng/ConstantNG.sol
  contracts/src/rng/IncrementalNG.sol
  contracts/src/rng/RNG.sol
  contracts/test/arbitration/index.ts
  contracts/test/integration/index.ts
  contracts/test/rng/index.ts
Due: prettier --write, solhint --fix

fix: reset deploy package script to original value
  subgraph/package.json
Due: prettier --write

feat: data pinner bot for court evidence
  bot-pinner/Dockerfile
  bot-pinner/README.md
  bot-pinner/docker-compose.yml
  bot-pinner/src/add_hashes.py
  bot-pinner/src/requirements.txt
Due: prettier --write

docs: extra metadata
  package.json
Due: prettier --write

feat: docker containers to replicate evidence hashes
  bot-pinner/Dockerfile
  bot-pinner/README.md
  bot-pinner/docker-compose.yml
  bot-pinner/src/.add_hashes.py.kate-swp
  bot-pinner/src/add_hashes.py
  bot-pinner/src/tooling.py
  bot-pinner/watchlist/DisputeKitClassic.json
Due: prettier --write

refactor: code style
  bot-pinner/src/.add_hashes.py.kate-swp
  bot-pinner/src/add_hashes.py
Due: none

feat: dappnode packaging for bot-pinner
  bot-pinner/.gitignore
  bot-pinner/Dockerfile-dappnode
  bot-pinner/README.md
  bot-pinner/avatar-default.png
  bot-pinner/dappnode_package.json
  bot-pinner/docker-compose-dappnode.yml
  bot-pinner/docker-compose.yml
  bot-pinner/docs/image.png
  bot-pinner/package.json
  bot-pinner/requirements.txt
  bot-pinner/src/add_hashes.py
  package.json
Due: prettier --write

fix: lock file
  yarn.lock
Due: none
