Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

docs: readme and spdx headers
  .vscode/settings.json
  CHANGELOG.md
  README.md
  bots/README.md
  contracts/.mocharc.json
  contracts/README.md
  contracts/package.json
  contracts/src/rng/ConstantNG.sol
  contracts/src/rng/IncrementalNG.sol
  contracts/src/rng/RNG.sol
  contracts/tsconfig.json
  contracts/typechain/factories/ConstantNG__factory.ts
  contracts/typechain/factories/IncrementalNG__factory.ts
  contracts/typechain/hardhat.d.ts
  dynamic-script/README.md
  evidence-display/README.md
  klerosjs/README.md
  package.json
  subgraph/README.md
  web/README.md
  yarn.lock
Due: prettier --write, solhint --fix

test: added a test for IncrementalNG
  CHANGELOG.md
  README.md
  contracts/test/rng/index.ts
  contracts/typechain/factories/IncrementalNG__factory.ts
  contracts/typechain/index.ts
Due: prettier --write

chore: added the hardhat config for layer 2 networks, added hardhat-deploy and mocha
  .yarn/cache/@ungap-promise-all-settled-npm-1.1.2-c0f42e147b-08d37fdfa2.zip
  .yarn/cache/argparse-npm-2.0.1-faff7999e6-83644b5649.zip
  .yarn/cache/axios-npm-0.21.4-e278873748-44245f24ac.zip
  .yarn/cache/decamelize-npm-4.0.0-12410e3409-b7d09b8265.zip
  .yarn/cache/diff-npm-5.0.0-ad6900db18-f19fe29284.zip
  .yarn/cache/encode-utf8-npm-1.0.3-8f92a23782-550224bf2a.zip
  .yarn/cache/flat-npm-5.0.2-12748102a5-12a1536ac7.zip
  .yarn/cache/fmix-npm-0.1.0-894aa1a728-c465344d4f.zip
  .yarn/cache/form-data-npm-4.0.0-916facec2d-01135bf867.zip
  .yarn/cache/hardhat-deploy-ethers-npm-0.3.0-beta.11-0a3b24880e-0becd3dc7b.zip
  .yarn/cache/hardhat-deploy-npm-0.9.6-37804f4500-ceffd582d9.zip
  .yarn/cache/imul-npm-1.0.1-02981006e0-6c2af3d5f0.zip
  .yarn/cache/is-plain-obj-npm-2.1.0-8dffd7ae9c-cec9100678.zip
  .yarn/cache/is-unicode-supported-npm-0.1.0-0833e1bbfb-a2aab86ee7.zip
  .yarn/cache/js-yaml-npm-4.1.0-3606f32312-c7830dfd45.zip
  .yarn/cache/log-symbols-npm-4.1.0-0a13492d8b-fce1497b31.zip
  .yarn/cache/match-all-npm-1.2.6-38fd513e72-3d4f16b8fd.zip
  .yarn/cache/mocha-npm-9.1.3-cf8df742ce-4185038f1d.zip
  .yarn/cache/murmur-128-npm-0.2.1-0a3c0de12e-94ff8b39bf.zip
  .yarn/cache/nanoid-npm-3.1.25-c8f62ce160-e2353828c7.zip
  .yarn/cache/serialize-javascript-npm-6.0.0-0bb8a3c88d-56f90b562a.zip
  .yarn/cache/workerpool-npm-6.1.5-61adb98c59-5defea1fd3.zip
  .yarn/cache/yargs-parser-npm-20.2.4-1de20916a6-d251998a37.zip
  .yarn/cache/yargs-unparser-npm-2.0.0-930f3ff3f6-68f9a542c6.zip
  CHANGELOG.md
  contracts/.env.example
  contracts/README.md
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/rng/index.ts
  contracts/typechain/factories/ConstantNG__factory.ts
  contracts/typechain/factories/IncrementalNG__factory.ts
  contracts/typechain/hardhat.d.ts
  yarn.lock
Due: prettier --write

chore: added GitHub code scanning
  .github/workflows/codeql-analysis.yml
Due: none

feat(Arbitration): standard update
  CHANGELOG.md
  contracts/src/arbitration/ArbitrableExample.sol
  contracts/src/arbitration/CentralizedArbitrator.sol
  contracts/src/arbitration/IArbitrable.sol
  contracts/src/arbitration/IArbitrator.sol
Due: prettier --write, solhint --fix

fix(IArbitrator): replaced appealCost with fundingStatus
  CHANGELOG.md
  contracts/src/arbitration/CentralizedArbitrator.sol
  contracts/src/arbitration/IArbitrator.sol
Due: prettier --write, solhint --fix

fix(Arbitrator): memory to calldata
  CHANGELOG.md
  contracts/src/arbitration/CentralizedArbitrator.sol
  contracts/src/arbitration/IArbitrator.sol
Due: prettier --write, solhint --fix

refactor: add evidence contracts
  CHANGELOG.md
  contracts/package-lock.json
  contracts/package.json
  contracts/src/evidence/EvidenceModule.sol
  contracts/src/evidence/IForeignEvidence.sol
Due: prettier --write, solhint --fix

fix: unused code
  CHANGELOG.md
  contracts/src/evidence/EvidenceModule.sol
Due: prettier --write, solhint --fix

fix(IArbitrator): appeals removed from the standard
  CHANGELOG.md
  contracts/src/arbitration/CentralizedArbitrator.sol
  contracts/src/arbitration/IArbitrator.sol
Due: prettier --write, solhint --fix

fix(IArbitrator): interface simplification
  CHANGELOG.md
  contracts/src/arbitration/ArbitrableExample.sol
  contracts/src/arbitration/CentralizedArbitrator.sol
  contracts/src/arbitration/IArbitrator.sol
Due: prettier --write, solhint --fix

fix(IArbitrator): change name to arbitration cost
  CHANGELOG.md
  contracts/src/arbitration/CentralizedArbitrator.sol
  contracts/src/arbitration/IArbitrator.sol
Due: prettier --write, solhint --fix

refactor(sdk): rename
  CHANGELOG.md
  kleros-ts/README.md
Due: prettier --write

feat: add arbitrum L1 bridge and dependencies
  .gitignore
  CHANGELOG.md
  contracts/.gitignore
  contracts/hardhat.config.ts
  contracts/src/bridge/arbitrum/L1Bridge.sol
  contracts/src/bridge/arbitrum/interfaces/IBridge.sol
  contracts/src/bridge/arbitrum/interfaces/IInbox.sol
  contracts/src/bridge/arbitrum/interfaces/IMessageProvider.sol
  contracts/src/bridge/arbitrum/interfaces/IOutbox.sol
  contracts/typechain/index.ts
Due: prettier --write, solhint --fix

feat: add arbitrum L2 bridge
  contracts/.gitignore
  contracts/src/bridge/arbitrum/L1Bridge.sol
  contracts/src/bridge/arbitrum/L2Bridge.sol
  contracts/src/bridge/arbitrum/interfaces/IArbSys.sol
  contracts/typechain/ConstantNG.d.ts
  contracts/typechain/IncrementalNG.d.ts
  contracts/typechain/RNG.d.ts
  contracts/typechain/common.d.ts
  contracts/typechain/factories/ConstantNG__factory.ts
  contracts/typechain/factories/IncrementalNG__factory.ts
  contracts/typechain/factories/RNG__factory.ts
Due: prettier --write, solhint --fix

refactor: remove foreign evidence interface
  CHANGELOG.md
  contracts/src/evidence/IForeignEvidence.sol
Due: prettier --write, solhint --fix

fix: according to evidence standard + comments
  CHANGELOG.md
  contracts/src/evidence/EvidenceModule.sol
Due: prettier --write, solhint --fix

refactor: add interfaces + capped math
  CHANGELOG.md
  contracts/package.json
  contracts/src/evidence/IEvidence.sol
  contracts/src/libraries/CappedMath.sol
Due: prettier --write, solhint --fix

fix(EvidenceModule): typos + castings + imports
  CHANGELOG.md
  contracts/src/evidence/EvidenceModule.sol
Due: prettier --write, solhint --fix

chore(typechain): clean generated files
  CHANGELOG.md
  contracts/typechain/ConstantNG.d.ts
  contracts/typechain/IncrementalNG.d.ts
  contracts/typechain/RNG.d.ts
  contracts/typechain/common.d.ts
  contracts/typechain/factories/ConstantNG__factory.ts
  contracts/typechain/factories/IncrementalNG__factory.ts
  contracts/typechain/factories/RNG__factory.ts
  contracts/typechain/index.ts
Due: prettier --write
