Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

docs: added NatSpecs for the bridge contracts, moved the events to the interface level
  contracts/deploy/02-home-chain.ts
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/SafeBridgeReceiverOnEthereum.sol
  contracts/src/bridge/SafeBridgeSenderToEthereum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
Due: prettier --write, solhint --fix

feat(web): improve use of router
  web/src/app.tsx
  web/src/components/layout/footer/SecuredByKleros.tsx
  web/src/components/layout/footer/SocialMedia.tsx
  web/src/components/layout/index.tsx
  web/src/index.tsx
  web/src/pages/home.tsx
  web/src/routes.tsx
Due: none

fix(config): endofline LF and small modification to eslint
  web/.eslintrc.json
  web/.prettierrc.json
Due: prettier --write

fix(web): add not ios_saf < 13 to browserslist
  web/package.json
Due: prettier --write

fix(web): add meta tag to avoid viewport resizing
  web/src/index.html
Due: prettier --write

fix(web): add lru-cache as dev dependency to solve build error
  web/package.json
  yarn.lock
Due: prettier --write

fix(web): fixed router for ipfs deployment and absolute links
  web/src/components/layout/footer/SecuredByKleros.tsx
  web/src/components/layout/footer/SocialMedia.tsx
  web/src/index.tsx
Due: none

fix(dependencies): update kleros ui library version
  web/package.json
  yarn.lock
Due: prettier --write

feat(web/header): work in progress
  web/src/components/ConnectButton.tsx
  web/src/components/layout/header/index.tsx
  web/src/components/layout/header/navbar/Explore.tsx
  web/src/components/layout/header/navbar/Menu.tsx
  web/src/components/layout/header/navbar/index.tsx
  web/src/styles/global-style.ts
Due: none

feat(web): add aliases to every src subdirectory
  web/package.json
  web/tsconfig.json
Due: prettier --write

fix(web): add core-js, fixes build error
  web/package.json
  yarn.lock
Due: prettier --write

Update SSQ.sol
  contracts/src/libraries/SSQ.sol
Due: prettier --write, solhint --fix

Update SSQ.md
  SSQ.md
Due: prettier --write

Create SSQ.sol
  contracts/src/libraries/SSQ.sol
Due: prettier --write, solhint --fix

Create SSQ.md
  SSQ.md
Due: prettier --write

fix(web): tsconfig alias paths missing *
  web/tsconfig.json
Due: prettier --write

feat(web/style): add color to text html tags on global style
  web/src/styles/global-style.ts
Due: none

feat(web/hooks): add useLocalStorage hook
  web/src/hooks/useLocalStorage.ts
Due: none

feat(web/components): add LightButton
  web/src/components/LightButton.tsx
Due: none
