Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

chore: depending on the Vea NPM package for the bridge
  contracts/package.json
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/interfaces/IReceiverGateway.sol
  contracts/src/bridge/interfaces/ISafeBridgeReceiver.sol
  contracts/src/bridge/interfaces/ISafeBridgeRouter.sol
  contracts/src/bridge/interfaces/ISafeBridgeSender.sol
  contracts/src/bridge/interfaces/ISenderGateway.sol
  contracts/src/bridge/single-message/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/single-message/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/single-message/interfaces/ISafeBridgeReceiver.sol
  contracts/src/bridge/single-message/interfaces/ISafeBridgeSender.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/src/gateway/single-message/ForeignGatewayOnEthereum.sol
  contracts/src/gateway/single-message/HomeGatewayToEthereum.sol
  yarn.lock
Due: prettier --write, solhint --fix

chore: remove Vea from the test and deploy scripts, created a VeaMock, removed Rinkeby
  .vscode/settings.json
  contracts/.solhintignore
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/01-foreign-gateway.ts
  contracts/deploy/02-home-chain.ts
  contracts/deploy/02-home-gateway.ts
  contracts/deploy/03-vea-mock.ts
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/gateway/mock/VeaMock.sol
  contracts/test/arbitration/draw.ts
  contracts/test/integration/index.ts
  subgraph-fastbridge/README.md
  yarn.lock
Due: prettier --write, solhint --fix

test: fixed VeaMock to account for some encoding mismatch
  contracts/src/gateway/mock/VeaMock.sol
  contracts/test/integration/index.ts
  yarn.lock
Due: prettier --write, solhint --fix

chore: meta-evidence artifact tweak
  contracts/deploy/01-foreign-gateway.ts
  contracts/deploy/03-vea-mock.ts
  contracts/deployments/goerli/MetaEvidence_ArbitrableExample.json
Due: prettier --write

refactor: minor refactor and added missing natspec
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

fix: typos and grammar, fixes #356 #357
  web/src/pages/Dashboard/Courts/CourtCard.tsx
  web/src/pages/Dashboard/JurorInfo/Coherency.tsx
Due: prettier --write

feat(subgraph): add court info
  subgraph/schema.graphql
  subgraph/src/KlerosCore.ts
Due: prettier --write

refactor(Sortition): move helper to SM
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/data-structures/ISortitionModule.sol
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

fix(DK): remove get lastRoundResult
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix(DK): appeal override
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

feat(wip/web): add court details and staking flow
  web/codegen.yaml
  web/package.json
  web/src/app.tsx
  web/src/assets/svgs/icons/min-stake.svg
  web/src/assets/svgs/icons/vote-stake.svg
  web/src/components/DisputeCard/index.tsx
  web/src/components/WrongChainBoundary.tsx
  web/src/consts/supportedChains.ts
  web/src/graphql/generated.ts
  web/src/hooks/queries/useCasesQuery.ts
  web/src/hooks/queries/useCourtDetails.ts
  web/src/hooks/queries/useCourtPolicy.ts
  web/src/hooks/queries/useCourtTree.ts
  web/src/hooks/queries/useHomePageQuery.ts
  web/src/hooks/queries/usePNKAllowance.ts
  web/src/hooks/queries/usePNKBalance.ts
  web/src/hooks/queries/usePolicyRegistryEvent.ts
  web/src/pages/Courts/CourtDetails/Description.tsx
  web/src/pages/Courts/CourtDetails/StakeModal.tsx
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
  web/src/pages/Courts/TopSearch.tsx
  web/src/pages/Courts/index.tsx
  web/src/pages/Home/CourtOverview/Chart.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
  web/src/utils/getContract.ts
  yarn.lock
Due: prettier --write

fix(web): update supported chains and wrong chain error boundary
  web/src/components/WrongChainBoundary.tsx
  web/src/consts/supportedChains.ts
Due: prettier --write

chore(web): add react-use
  web/package.json
  yarn.lock
Due: prettier --write

feat(web): add Option Card component
  web/src/assets/svgs/icons/gavel.svg
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
Due: prettier --write

fix(subgraph): wrong address dispute kit and policy registry
  subgraph/subgraph.yaml
Due: none

fix(subgraph): counter entity not correctly initializing
  subgraph/src/datapoint.ts
Due: prettier --write

fix(subgraph): simplify counters logic
  subgraph/src/datapoint.ts
Due: prettier --write

fix(web, subgraph): adapt UI to subgraph changes and fix case details query
  web/codegen.yaml
  web/src/app.tsx
  web/src/graphql/generated.ts
  web/src/hooks/queries/useCasesQuery.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/hooks/queries/useHomePageQuery.ts
  web/src/hooks/useHomePageContext.tsx
  web/src/pages/Cases/index.tsx
  web/src/pages/Home/CourtOverview/Chart.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
Due: prettier --write

feat(RNG): randomizer
  contracts/src/rng/IRandomizer.sol
  contracts/src/rng/RandomizerRNG.sol
Due: prettier --write, solhint --fix

chore: added RandomizerMock, migrated test and deploy scripts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/rng/mock/RandomizerMock.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/unstake.ts
  contracts/test/integration/index.ts
  contracts/test/rng/index.ts
Due: prettier --write, solhint --fix

chore: changed dependabot schedule to weekly
  .github/dependabot.yml
Due: none

feat(RNG): governor for RNG and lookahead
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/rng/RandomizerRNG.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/index.ts
  contracts/test/arbitration/unstake.ts
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,html,json})) or (any of: *.sol)
  solhint --fix: any of: *.sol
