Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

feat(subgraph): add autogenerated code
  subgraph/abis/Kleroscore.json
  subgraph/generated/Kleroscore/Kleroscore.ts
  subgraph/generated/schema.ts
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/src/mapping.ts
  subgraph/subgraph.yaml
  subgraph/tsconfig.json
  yarn.lock
Due: prettier --write

fix(CVE-2021-23358): upgraded underscore
  package.json
  yarn.lock
Due: prettier --write

fix(CVE-2021-23337, CVE-2020-28500): upgraded lodash
  package.json
Due: prettier --write

fix(CVE-2022-0235): upgraded node-fetch
  package.json
  yarn.lock
Due: prettier --write

feat: refactor + some tests migrated from v1
  contracts/.eslintrc.js
  contracts/.prettierrc
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/arbitration/core.spec.ts
  contracts/test/arbitration/dispute-kit-clasic.spec.ts
  contracts/test/arbitration/dispute-kit-sybil.spec.ts
  contracts/test/arbitration/index.ts
  contracts/test/chai-setup.ts
  contracts/test/cross-chain/fast-bridge.spec.ts
  contracts/test/cross-chain/simple-bridge.spec.ts
  contracts/test/evidence.spec.ts
  contracts/test/evidence/index.ts
  contracts/test/pre-alpha1/index.ts
  contracts/test/rng.spec.ts
  contracts/test/rng/index.ts
  contracts/test/shared/constants.ts
  contracts/test/shared/enums/arbitrator.ts
  contracts/test/shared/enums/core.ts
  contracts/test/shared/enums/evidence.ts
  contracts/test/shared/index.ts
  contracts/tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: no ethereum-waffle + some more testing
  contracts/package.json
  contracts/test/arbitration/core.spec.ts
  contracts/test/arbitration/dispute-kit-clasic.spec.ts
  contracts/test/chai-setup.ts
  contracts/test/shared/arbitration.ts
  yarn.lock
Due: prettier --write

fix(GHSA-qrpm-p2h7-hrv2): upgraded nanoid
  package.json
  yarn.lock
Due: prettier --write

feat: remove hardhat-waffle
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/arbitration/core.spec.ts
  contracts/test/arbitration/dispute-kit-clasic.spec.ts
  contracts/test/evidence.spec.ts
  contracts/test/shared/arbitration.ts
  contracts/test/shared/index.ts
  yarn.lock
Due: prettier --write

feat(subgraph): add KlerosCore subgraph
  .gitignore
  subgraph/.eslintrc.json
  subgraph/.prettierrc
  subgraph/abis/KlerosCore.json
  subgraph/generated/Kleroscore/Kleroscore.ts
  subgraph/generated/schema.ts
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/src/mapping.ts
  subgraph/subgraph.yaml
  yarn.lock
Due: prettier --write

fix(KC): testing errors
  contracts/test/arbitration/index.ts
Due: none

feat(KlerosCore): phases implementation
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/BaseDisputeKit.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix(KlerosCore): remove useless condition
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

fix(KlerosCore): simplification and bug fixes
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

feat(subgraph): add HomeGateway and FastBridgeSender mappings
  subgraph/abis/FastBridgeSender.json
  subgraph/abis/HomeGateway.json
  subgraph/schema.graphql
  subgraph/src/FastBridgeSender.ts
  subgraph/src/HomeGateway.ts
  subgraph/src/KlerosCore.ts
  subgraph/subgraph.yaml
Due: prettier --write

fix(KlerosCore): add iterations for DK jump + hidden votes setter
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

fix: missing SPDX license header
  contracts/src/bridge/interfaces/arbitrum/IArbSys.sol
  contracts/src/evidence/IEvidence.sol
  contracts/src/evidence/IMetaEvidence.sol
  contracts/src/kleros-v1/IKlerosLiquid.sol
  contracts/src/kleros-v1/ITokenController.sol
  contracts/src/kleros-v1/KlerosV1Governor.sol
Due: prettier --write, solhint --fix

fix(style): code climate style errors
  subgraph/src/KlerosCore.ts
Due: none

fix(kleroscore mapping): explicit typing i32
  subgraph/src/KlerosCore.ts
Due: none

feat(web): init court v2 directory
  web/.editorconfig
  web/.eslintrc.json
  web/.gitignore
  web/.parcelrc
  web/.prettierrc.json
  web/.yarnrc.yml
  web/LICENSE
  web/global.d.ts
  web/package.json
  web/src/assets/svgs/.gitkeep
  web/src/components/.gitkeep
  web/src/hooks/.gitkeep
  web/src/index.html
  web/src/index.tsx
  web/src/styles/global-style.ts
  web/src/styles/themes.ts
  web/tsconfig.json
  yarn.lock
Due: prettier --write

fix: package name
  web/package.json
Due: prettier --write

chore: yarn.lock update
  yarn.lock
Due: none
