Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

docs: updated README
  web-playground/README.md
Due: prettier --write

fix: parcel cache location
  web-playground/package.json
Due: prettier --write

Update FastBridgeSender.sol
  contracts/src/bridge/FastBridgeSender.sol
Due: prettier --write, solhint --fix

Create FastBridgeSender.sol
  contracts/src/bridge/FastBridgeSender.sol
Due: prettier --write, solhint --fix

feat(demo day UI): keep same tab open between reloads
  web-playground/src/components/main.tsx
  web-playground/src/hooks/useLocalStorage.ts
Due: none

fix(responsive): improve card responsiveness
  web-playground/src/components/tabs/fast-bridge/index.tsx
  web-playground/src/components/tabs/juror.tsx
  web-playground/src/components/tabs/kleros-core/disputes-table.tsx
  web-playground/src/components/tabs/kleros-core/index.tsx
  web-playground/src/components/tabs/kleros-core/jurors-table.tsx
  web-playground/src/components/tabs/l1-arbitrable/disputes.tsx
  web-playground/src/components/tabs/l1-arbitrable/index.tsx
  web-playground/src/components/tabs/witness/index.tsx
Due: none

Update FastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeReceiver.sol
Due: prettier --write, solhint --fix

Update IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
Due: prettier --write, solhint --fix

Update ForeignGateway.sol
  contracts/src/gateway/ForeignGateway.sol
Due: prettier --write, solhint --fix

Update HomeGateway.sol
  contracts/src/gateway/HomeGateway.sol
Due: prettier --write, solhint --fix

feat(KlerosCore): dispute kit forest implementation
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

implemented safe bridge receiver/sender logic for unhappy path
  contracts/src/bridge/FastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
Due: prettier --write, solhint --fix

fix(KlerosCore): don't create new dispute without DK switch
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

test: a few test scenarios for the pre-alpha1 milestone, work-in-progress
  contracts/README.md
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/arbitration/mock/PNK.sol
  contracts/test/arbitration/index.ts
  contracts/test/chai-setup.ts
  contracts/test/pre-alpha1/index.ts
  yarn.lock
Due: prettier --write, solhint --fix

test: relayCreateDispute, draw, passPeriod
  contracts/.env.example
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/deployments/arbitrumRinkeby/PNK.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/pre-alpha1/index.ts
  yarn.lock
Due: prettier --write

test: changed the challenge duration for testing purposes
  contracts/deploy/01-foreign-chain.ts
  contracts/test/pre-alpha1/index.ts
Due: none

test: rng changed to incremental
  contracts/test/pre-alpha1/index.ts
Due: none

chore: dependencies update
  contracts/package.json
  contracts/test/pre-alpha1/index.ts
  web-playground/package.json
  yarn.lock
Due: prettier --write

feat(subgraph): add autogenerated code
  subgraph/abis/Kleroscore.json
  subgraph/generated/Kleroscore/Kleroscore.ts
  subgraph/generated/schema.ts
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/src/mapping.ts
  subgraph/subgraph.yaml
  subgraph/tsconfig.json
  yarn.lock
Due: prettier --write
