Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

feat: foundry
  .gitmodules
  contracts/foundry.toml
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/remappings.txt
  contracts/test/foundry/Contract.t.sol
  yarn.lock
Due: prettier --write, solhint --fix

feat: script working around forge doc failing on custom natspec tags
  contracts/scripts/serveDoc.sh
Due: none

fix: preprocessor remappings >/dev/null
  contracts/hardhat.config.ts
  contracts/package.json
  yarn.lock
Due: prettier --write

fix: forge doc preprocessing
  contracts/package.json
  contracts/scripts/docPreprocess.sh
Due: prettier --write

fix: sed POSIX compatibility
  contracts/scripts/docPreprocess.sh
Due: none

feat(web): add hourglass icon and improve explainer
  web/src/assets/svgs/icons/hourglass.svg
  web/src/components/DisputeCard/index.tsx
  web/src/hooks/useCountdown.ts
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/utils/date.ts
  yarn.lock
Due: prettier --write

feat(web): merge staking and appealing flow for demo
  web/src/hooks/queries/useCourtPolicyURI.ts
  web/src/hooks/queries/usePNKAllowance.ts
  web/src/hooks/queries/usePNKBalance.ts
  web/src/hooks/useIPFSQuery.ts
  web/src/pages/Courts/CourtDetails/StakeModal.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
Due: prettier --write

chore(web): update parcel
  web/package.json
  web/src/index.tsx
  yarn.lock
Due: prettier --write

fix(web): code changes now reflect in browser
  web/package.json
  yarn.lock
Due: prettier --write

feat(web): pnk allowance and stake
  web/src/hooks/queries/usePNKAllowance.ts
  web/src/hooks/queries/usePNKBalance.ts
  web/src/pages/Courts/CourtDetails/StakeModal.tsx
Due: prettier --write

feat(web): add courts dropdown
  web/src/components/DisputeCard/index.tsx
  web/src/graphql/generated.ts
  web/src/hooks/queries/useCourtTree.ts
  web/src/pages/Courts/TopSearch.tsx
  web/src/pages/Courts/index.tsx
Due: prettier --write

fix: moved to the new Randomizer contract, the callback takes now a uint256 instead of uint128
  contracts/deploy/00-rng.ts
  contracts/deployments/arbitrumGoerli/RandomizerRNG.json
  contracts/src/rng/IRandomizer.sol
  contracts/src/rng/RandomizerRNG.sol
  contracts/src/rng/mock/RandomizerMock.sol
Due: prettier --write, solhint --fix

fix(web): make pages occupy 100% of screen
  web/src/pages/Cases/index.tsx
  web/src/pages/Courts/index.tsx
  web/src/pages/Dashboard/index.tsx
  web/src/pages/Home/index.tsx
Due: prettier --write

fix(web): court stats
  web/src/pages/Courts/CourtDetails/Stats.tsx
Due: prettier --write

refactor(web): extract parse amount
  web/src/hooks/useParsedAmount.ts
  web/src/pages/Courts/CourtDetails/StakeModal.tsx
Due: prettier --write

fix(web): timeline fix
  web/src/pages/Cases/CaseDetails/Timeline.tsx
Due: prettier --write

feat(web): add fund logic
  web/src/hooks/queries/useETHBalance.ts
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
Due: prettier --write

refactor(web): add link to the court name in Field component
  web/src/components/DisputeCard/DisputeInfo.tsx
  web/src/components/DisputeCard/index.tsx
  web/src/pages/Cases/CaseDetails/Overview.tsx
Due: prettier --write

chore(contracts): add cach_hardhat to .gitignore
  contracts/.gitignore
Due: none

refactor(web): add space b/w Juror Rewards and Court Policy area
  web/src/pages/Cases/CaseDetails/Overview.tsx
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,html,json})) or (any of: *.sol)
  solhint --fix: any of: *.sol
