Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

chore(benchmark): refactoring
  contracts/scripts/draw.ts
Due: none

docs: added a mention of husky
  README.md
Due: prettier --write

chore: fixed the linters configuration, typescript files were not linted by the pre-commit hook
  .lintstagedrc.json
  .vscode/settings.json
  contracts/.eslintrc.js
  contracts/tsconfig.json
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: damn u gluegun
  yarn.lock
Due: none

fix: prettier
  contracts/test/arbitration/draw.ts
Due: none

feat(DisputeResolver): add contract
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
Due: prettier --write, solhint --fix

fix(DR): remove submitEvidence
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
Due: prettier --write, solhint --fix

fix: skipping failing test on Github actions, no issue locally
  .github/workflows/contracts-testing.yml
  contracts/test/arbitration/draw.ts
Due: none

chore: added .jsx and .tsx
  .lintstagedrc.json
Due: prettier --write

refactor: moved ArbitrableExample to sub-folder
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
Due: prettier --write, solhint --fix

chore: dependabot.yml
  .github/dependabot.yml
Due: none

ci: upgraded node-forge package
  yarn.lock
Due: none

ci: upgraded lodash package
  yarn.lock
Due: none

ci: upgraded ejs package
  yarn.lock
Due: none

chore: bumped the limit of dependabot PRs
  .github/dependabot.yml
Due: none

chore: lock file update and parcel bumped
  package.json
  web/package.json
  yarn.lock
Due: prettier --write

chore: updated lock file
  yarn.lock
Due: none

chore: refreshed lockfile
  yarn.lock
Due: none

feat(contracts): add court and disputekit events to ease subgraph indexing
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: (any of: *.{md,html,json}) or (any of: *.sol)
  solhint --fix: any of: *.sol
