Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "prettier --write",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

chore: bump yarn from 3.1 to 3.3
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  contracts/package.json
  package.json
  subgraph/package.json
  web/package.json
  yarn.lock
Due: prettier --write

chore: web migrated to Arbitrum Goerli
  web/src/components/WrongChainBoundary.tsx
  web/src/consts/supportedChains.ts
Due: prettier --write

fix: graph update script
  subgraph/scripts/update.sh
Due: none

feat(subgraph): implement court name on the subgraph
  subgraph/schema.graphql
  subgraph/scripts/update.sh
  subgraph/src/PolicyRegistry.ts
  subgraph/subgraph.yaml
Due: prettier --write

feat: added court name in the PolicyUpdate event, redeployed
  contracts/README.md
  contracts/deployments/arbitrumGoerli/DisputeKitClassic.json
  contracts/deployments/arbitrumGoerli/DisputeResolver.json
  contracts/deployments/arbitrumGoerli/KlerosCore.json
  contracts/deployments/arbitrumGoerli/PolicyRegistry.json
  contracts/deployments/arbitrumGoerli/RandomizerRNG.json
  contracts/hardhat.config.ts
  contracts/scripts/generateDeploymentsMarkdown.sh
  contracts/src/arbitration/PolicyRegistry.sol
Due: prettier --write, solhint --fix

fix: populatePolicyRegistry script
  contracts/README.md
  contracts/package.json
  contracts/scripts/populatePolicyRegistry.ts
Due: prettier --write

fix: graph update script bis
  subgraph/scripts/update.sh
Due: none

fix(subgraph): duplicated fields schema
  subgraph/schema.graphql
Due: none

fix(subgraph): arbitrable code was not implemented
  subgraph/schema.graphql
  subgraph/src/KlerosCore.ts
  subgraph/src/entities/Arbitrable.ts
Due: prettier --write

refactor(subgraph): remove code duplication when loading entities
  subgraph/src/DisputeKitClassic.ts
  subgraph/src/KlerosCore.ts
  subgraph/src/entities/ClassicDispute.ts
  subgraph/src/entities/ClassicRound.ts
  subgraph/src/entities/Court.ts
  subgraph/src/entities/Dispute.ts
  subgraph/src/entities/DisputeKit.ts
  subgraph/src/entities/JurorTokensPerCourt.ts
  subgraph/src/entities/Round.ts
  subgraph/src/utils.ts
Due: prettier --write

fix(web): related to subgraph change
  web/src/components/DisputeCard/DisputeInfo.tsx
  web/src/components/DisputeCard/PeriodBanner.tsx
  web/src/components/DisputeCard/index.tsx
  web/src/consts/periods.ts
  web/src/graphql/generated.ts
  web/src/hooks/queries/useCasesQuery.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/hooks/queries/useDrawQuery.ts
  web/src/hooks/queries/useEvidences.ts
  web/src/hooks/queries/useVotingHistory.ts
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
  web/src/pages/Cases/CaseDetails/Overview.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Cases/CaseDetails/Voting/Binary.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Cases/index.tsx
Due: prettier --write

feat(web/WIP): add appeal flow
  web/package.json
  web/src/components/DisputeCard/index.tsx
  web/src/graphql/generated.ts
  web/src/hooks/queries/useCourtPolicy.ts
  web/src/hooks/queries/useCourtPolicyURI.ts
  web/src/hooks/queries/useVotingHistory.ts
  web/src/layout/Header/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
  web/src/pages/Cases/CaseDetails/Appeal/index.tsx
  web/src/pages/Cases/CaseDetails/Overview.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Dashboard/index.tsx
  yarn.lock
Due: prettier --write

fix(subgraph): remove low level store use and prepare for the event order
  subgraph/src/DisputeKitClassic.ts
  subgraph/src/KlerosCore.ts
  subgraph/src/entities/ClassicDispute.ts
  subgraph/src/entities/ClassicRound.ts
  subgraph/src/entities/Court.ts
  subgraph/src/entities/Dispute.ts
  subgraph/src/entities/DisputeKit.ts
  subgraph/src/entities/JurorTokensPerCourt.ts
  subgraph/src/entities/Round.ts
  subgraph/src/utils.ts
Due: prettier --write

feat(subgraph): use numberOfChoices to model the length of arrays
  subgraph/src/DisputeKitClassic.ts
  subgraph/src/entities/ClassicRound.ts
Due: prettier --write

chore(subgraph): update subgraph.yaml and clean schema
  subgraph/schema.graphql
  subgraph/subgraph.yaml
Due: none

chore(web): update graphql generated file
  web/src/graphql/generated.ts
Due: prettier --write

feat(web/WIP): add appeal flow
  web/src/hooks/queries/useAppealCost.ts
  web/src/hooks/queries/useClassicAppealQuery.ts
  web/src/hooks/queries/useDisputeKitClassicMultipliers.ts
  web/src/hooks/queries/useGetMetaEvidence.ts
  web/src/hooks/useConnectedContract.ts
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
  yarn.lock
Due: prettier --write

feat(web/WIP): adapt for paidFees in the subgraph
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/StageExplainer.tsx
  web/src/pages/Cases/CaseDetails/Appeal/Classic/index.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
Due: prettier --write
