Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

feat: improved FastBridgeReceiver events, expanded the integration tests, found some testing issues
  contracts/hardhat.config.ts
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeReceiverOnPolygon.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

fix(Sortition): remove unnecessary hooks
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/data-structures/ISortitionModule.sol
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

fix(KC): update stake bug
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

refactor: separation of the app-agnostic gateway interfaces and the Kleros-specific gateways
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/interfaces/IReceiverGateway.sol
  contracts/src/bridge/interfaces/ISafeBridgeSender.sol
  contracts/src/bridge/interfaces/ISenderGateway.sol
  contracts/src/bridge/single-message/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/test/FastBridgeSenderMock.sol
  contracts/src/bridge/test/gateways/IReceiverGatewayMock.sol
  contracts/src/bridge/test/gateways/ISenderGatewayMock.sol
  contracts/src/bridge/test/gateways/ReceiverGatewayMock.sol
  contracts/src/bridge/test/gateways/SenderGatewayMock.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IForeignGatewayBase.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGatewayBase.sol
  contracts/src/gateway/interfaces/IHomeGatewayMock.sol
  contracts/src/gateway/test/ForeignGatewayMock.sol
  contracts/src/gateway/test/HomeGatewayMock.sol
Due: prettier --write, solhint --fix

chore: adding missing DisputeResolver deploy file
  contracts/deployments/arbitrumRinkeby/DisputeResolver.json
Due: prettier --write

chore: lockfile update
  yarn.lock
Due: none

feat: allow overriding a vote commitment on DisputeKitClassic
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
Due: prettier --write, solhint --fix

feat: allow overriding a vote commitment on DisputeKitSybilResistant
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix: revert empty commit validation removal
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix(web): update components library to avoid conflicting react versions
  web/package.json
  yarn.lock
Due: prettier --write

feat(subgraph): improve subgraph indexing
  subgraph/schema.graphql
  subgraph/src/KlerosCore.ts
  subgraph/subgraph.yaml
Due: prettier --write

fix: add subcourt and disputekit creation events in KlerosCore constructor
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

fix: add correct typing to empty array in subcourtCreation event
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

fix: added a test covering KlerosCore construction and renamed events for consistency
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/arbitration/index.ts
Due: prettier --write, solhint --fix

fix: test is now passing
  contracts/test/arbitration/draw.ts
Due: prettier --write

feat: add disputeKitID to DisputeKitCreated event
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

fix: add DisputeKitCreated and DisputeKitEnabled events to addNewDisputeKit
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

refactor: substitute 0 for NULL_DISPUTE_KIT
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,html,json})) or (any of: *.sol)
  solhint --fix: any of: *.sol
