Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

refactor: minor variable rename
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

fix: fixed the IncrementalNG to start from a non-zero value, fixed the skipped tests
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/scripts/changeRng.ts
  contracts/src/rng/IncrementalNG.sol
  contracts/test/pre-alpha1/index.ts
  contracts/test/rng/index.ts
Due: prettier --write, solhint --fix

fix: set keepExistingDeployments to false
  contracts/test/pre-alpha1/index.ts
Due: none

refactor: renamed the test folder
  contracts/test/integration/index.ts
Due: none

feat: refactoring
  contracts/deploy/02-foreign-chain-gnosis.ts
  contracts/deploy/04-foreign-chain-test.ts
  contracts/deploy/05-home-chain-test.ts
  contracts/hardhat.config.ts
  contracts/scripts/generateDeploymentsMarkdownLite.sh
  contracts/src/bridge/FastBridgeReceiverBase.sol
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/FastBridgeSenderBase.sol
  contracts/src/bridge/FastBridgeSenderToGnosis.sol
  contracts/src/bridge/SafeBridgeRouter.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/interfaces/ISafeBridgeReceiver.sol
  contracts/src/bridge/interfaces/ISafeBridgeRouter.sol
  contracts/src/bridge/interfaces/ISafeBridgeSender.sol
  contracts/src/bridge/interfaces/gnosis-chain/IAMB.sol
  contracts/src/bridge/merkle/test/MerkleProofExposed.sol
  contracts/src/bridge/merkle/test/MerkleTreeExposed.sol
  contracts/src/bridge/safe-bridges/SafeBridgeReceiverOnEthereum.sol
  contracts/src/bridge/safe-bridges/SafeBridgeReceiverOnGnosis.sol
  contracts/src/bridge/safe-bridges/SafeBridgeSenderToArbitrumFromEthereum.sol
  contracts/src/bridge/safe-bridges/SafeBridgeSenderToEthereum.sol
  contracts/src/bridge/safe-bridges/SafeBridgeSenderToGnosis.sol
  contracts/src/bridge/safe-bridges/SafeBridgeSenderToGnosisFromArbitrum.sol
  contracts/src/bridge/test/FastBridgeSenderMock.sol
  contracts/src/bridge/test/arbitrum/ArbSysMock.sol
  contracts/src/bridge/test/arbitrum/BridgeMock.sol
  contracts/src/bridge/test/arbitrum/InboxMock.sol
  contracts/src/bridge/test/arbitrum/OutboxMock.sol
  contracts/src/bridge/test/gnosis-chian/MockAMB.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IForeignGatewayBase.sol
  contracts/src/gateway/interfaces/IHomeGatewayBase.sol
  contracts/src/gateway/test/ForeignGatewayMock.sol
  contracts/src/gateway/test/HomeGatewayMock.sol
Due: prettier --write, solhint --fix

feat: update tests
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-foreign-chain-gnosis.ts
  contracts/deploy/02-home-chain.ts
  contracts/deploy/04-foreign-chain-test.ts
  contracts/deploy/05-home-chain-test.ts
  contracts/src/libraries/gnosis-chain/Bytes.sol
  contracts/test/pre-alpha1/index.ts
Due: prettier --write, solhint --fix

feat: deploy script
  contracts/package.json
Due: prettier --write

feat: merkle tree refactoring
  contracts/src/bridge/merkle/MerkleProof.sol
  contracts/src/bridge/merkle/MerkleTree.sol
  contracts/src/bridge/merkle/test/MerkleProofExposed.sol
  contracts/src/bridge/merkle/test/MerkleTreeExposed.sol
  contracts/test/bridge/merkle/index.ts
Due: prettier --write, solhint --fix

feat: updated mock AMB
  contracts/src/bridge/interfaces/gnosis-chain/IAMB.sol
  contracts/src/bridge/test/gnosis-chain/MockAMB.sol
  contracts/src/libraries/gnosis-chain/Bytes.sol
Due: prettier --write, solhint --fix

feat: refactoring single-message bridge
  contracts/src/bridge/single-message/FastBridgeReceiverOnEthereumSingleMessage.sol
  contracts/src/bridge/single-message/FastBridgeReceiverOnGnosisSingleMessage.sol
  contracts/src/bridge/single-message/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/single-message/FastBridgeSenderToGnosis.sol
  contracts/src/bridge/single-message/SafeBridgeReceiverOnEthereum.sol
  contracts/src/bridge/single-message/SafeBridgeSenderToArbitrumFromEthereum.sol
  contracts/src/bridge/single-message/SafeBridgeSenderToEthereum.sol
  contracts/src/bridge/single-message/SafeBridgeSenderToGnosis.sol
  contracts/src/bridge/single-message/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/single-message/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/single-message/interfaces/ISafeBridgeReceiver.sol
  contracts/src/bridge/single-message/interfaces/ISafeBridgeSender.sol
  contracts/src/bridge/single-message/mock/FastBridgeSenderToEthereumMock.sol
  contracts/src/gateway/ForeignGatewayOnGnosis.sol
  contracts/src/gateway/single-message/ForeignGatewayOnEthereum.sol
  contracts/src/gateway/single-message/HomeGatewayToEthereum.sol
  contracts/src/gateway/single-message/interfaces/IForeignGatewaySingleMessage.sol
  contracts/src/gateway/single-message/interfaces/IHomeGatewaySingleMessage.sol
Due: prettier --write, solhint --fix

feat: updated arbitrum mock bridge
  contracts/src/bridge/mock/FastBridgeSenderToEthereumMock.sol
  contracts/src/bridge/test/FastBridgeSenderMock.sol
  contracts/src/bridge/test/arbitrum/ArbSysMock.sol
  contracts/src/bridge/test/arbitrum/BridgeMock.sol
  contracts/src/bridge/test/arbitrum/InboxMock.sol
  contracts/src/bridge/test/arbitrum/OutboxMock.sol
Due: prettier --write, solhint --fix

chore: removing single message bridge artifacts
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/FastBridgeSenderToGnosis.sol
  contracts/src/bridge/SafeBridgeReceiverOnEthereum.sol
  contracts/src/bridge/SafeBridgeSenderToArbitrumFromEthereum.sol
  contracts/src/bridge/SafeBridgeSenderToEthereum.sol
  contracts/src/bridge/SafeBridgeSenderToGnosis.sol
Due: prettier --write, solhint --fix

feat: batched message fast bridge
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/src/bridge/FastBridgeReceiverBase.sol
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/FastBridgeSenderBase.sol
  contracts/src/bridge/SafeBridgeRouter.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/interfaces/ISafeBridgeReceiver.sol
  contracts/src/bridge/interfaces/ISafeBridgeSender.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IForeignGatewayBase.sol
  contracts/src/gateway/interfaces/IForeignGatewayMock.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGatewayBase.sol
  contracts/src/gateway/interfaces/IHomeGatewayMock.sol
  contracts/src/gateway/test/ForeignGatewayMock.sol
  contracts/src/gateway/test/HomeGatewayMock.sol
Due: prettier --write, solhint --fix

feat: batched fast bridge tests
  contracts/deploy/01-foreign-chain.ts
  contracts/src/bridge/FastBridgeReceiverBase.sol
  contracts/src/bridge/FastBridgeSenderBase.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/test/HomeGatewayMock.sol
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

style: clear variable names
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/FastBridgeSenderBase.sol
  contracts/src/bridge/test/FastBridgeSenderMock.sol
Due: prettier --write, solhint --fix

style: alligned statements
  contracts/deploy/02-home-chain.ts
Due: none

fix: sonar warning
  web-playground/src/constants/chains.ts
Due: none

docs: extra Sonarcloud badges
  README.md
Due: prettier --write

fix: no inheritance
  contracts/src/bridge/FastBridgeReceiverBase.sol
  contracts/src/bridge/FastBridgeSenderBase.sol
Due: prettier --write, solhint --fix

fix(tests): updated events
  contracts/src/bridge/FastBridgeSenderBase.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

feat(web): add Community section to homepage
  web/src/assets/svgs/icons/chat.svg
  web/src/assets/svgs/icons/french-flag.svg
  web/src/assets/svgs/icons/phone.svg
  web/src/assets/svgs/icons/snapshot-color.svg
  web/src/assets/svgs/socialmedia/slack.svg
  web/src/consts/community-elements.tsx
  web/src/pages/home/Community/Element.tsx
  web/src/pages/home/Community/index.tsx
  web/src/pages/home/index.tsx
  web/src/styles/global-style.ts
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: (any of: *.{md,html,json}) or (any of: *.sol)
  solhint --fix: any of: *.sol
