Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "prettier --write",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

fix(web): remove Done under period timeline
  web/src/pages/Cases/CaseDetails/Timeline.tsx
Due: prettier --write

fix(web): avoid Loading text when dispute is ruled
  web/src/pages/Cases/CaseDetails/Timeline.tsx
Due: prettier --write

fix(web): correct basis point value
  web/src/consts/index.ts
Due: prettier --write

fix(web): stake amount is the sum of what was staked + input
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/index.tsx
Due: prettier --write

fix(web): style ul and li
  web/src/styles/global-style.ts
Due: prettier --write

feat: arbitrable metaevidence on chiado
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
Due: prettier --write

fix: broken test fixture due to contract name conflict
  contracts/deploy/03-vea-mock.ts
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deployments/chiado/WrappedPinakionV2.json
  contracts/scripts/console-init-chiado.ts
  contracts/src/arbitration/arbitrables/ArbitrableExampleEthFee.sol
  contracts/src/token/WrappedPinakionV2.sol
  contracts/test/arbitration/draw.ts
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

feat: moved the estuary url in the Netlify function to an env variable
  web/netlify/functions/uploadToIPFS.ts
Due: prettier --write

fix: actions firewall for codeql analysis
  .github/workflows/codeql-analysis.yml
Due: none

chore(web): update ui-component package
  web/package.json
  yarn.lock
Due: prettier --write

fix(web): stake info message
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
Due: prettier --write

fix(web): temporary chiado hardcode
  web/src/components/ConnectButton.tsx
  web/src/components/WrongChainBoundary.tsx
  web/src/connectors/injected.ts
  web/src/consts/chains.ts
  web/src/hooks/queries/useGetMetaEvidence.ts
  web/src/hooks/useConnectedContract.ts
  web/src/pages/Cases/CaseDetails/Overview.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/index.tsx
  web/src/utils/switchChain.ts
Due: prettier --write

fix(web): remove meaningless $ amount under cases and active jurors
  web/src/pages/Courts/CourtDetails/Stats.tsx
Due: prettier --write

fix(web): make sure home page doesn't wrap
  web/src/pages/Home/CourtOverview/Stats.tsx
Due: prettier --write

fix: evidence id and arbitrable redeploy on chiado, upkeep scripts
  contracts/README.md
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deployments/chiado/ArbitrableExample.json
  contracts/deployments/chiado/WPNKFaucet.json
  contracts/deployments/chiado/WrappedPinakionV2.json
  contracts/scripts/console-init-chiado.ts
  contracts/scripts/console-init.ts
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
Due: prettier --write, solhint --fix

fix(subgraph): correctly update counts and paidFees
  subgraph/src/entities/ClassicRound.ts
Due: prettier --write

fix(web): conditionally render fund menu
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Fund.tsx
Due: prettier --write

chore(web): update arbitrable address
  web/src/hooks/queries/useGetMetaEvidence.ts
Due: prettier --write

fix(web): fix appeal costs
  web/src/hooks/useClassicAppealContext.tsx
Due: prettier --write

fix(web): temporary fix chiado offset
  web/src/hooks/queries/useGetMetaEvidence.ts
Due: prettier --write

fix(web): temporary fix chiado offset
  web/src/hooks/queries/useEvidenceGroup.ts
Due: prettier --write

fix(web): temporary hardcode chiado arbitrable address
  web/src/hooks/queries/useEvidenceGroup.ts
Due: prettier --write

fix(web): temporary hardcode pnk and eth value
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
Due: prettier --write

fix(web): new chiado offset
  subgraph/src/KlerosCore.ts
  subgraph/src/entities/JurorTokensPerCourt.ts
  web/src/hooks/queries/useEvidenceGroup.ts
  web/src/hooks/queries/useGetMetaEvidence.ts
Due: prettier --write

chore(web): revert last commit
  web/src/hooks/queries/useEvidenceGroup.ts
  web/src/hooks/queries/useGetMetaEvidence.ts
Due: prettier --write

fix(web): don't show voting menu if not on vote period
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
Due: prettier --write

chore: convenience console scripts
  contracts/package.json
  contracts/scripts/console-init-chiado.ts
  contracts/scripts/console-init.ts
  yarn.lock
Due: prettier --write

feat: sentry
  web/package.json
  web/src/index.tsx
  yarn.lock
Due: prettier --write

chore: sentry release workflow
  .github/workflows/sentry-release.yml
Due: none

chore: script for sentry release
  web/scripts/sentry-release.sh
Due: none

chore: tweak sentry version number
  web/scripts/sentry-release.sh
Due: none

chore: improved Sentry workflow
  .github/workflows/sentry-release.yml
Due: none

chore: added rpc to foundry config
  contracts/foundry.toml
Due: none

fix: issue #538 Upload the policies to Estuary (instead of the Kleros gateway)
  contracts/scripts/policyUpdate.ts
Due: prettier --write

fix: sentry workflow
  .github/workflows/sentry-release.yml
Due: none

fix: sentry workflow again
  .github/workflows/sentry-release.yml
Due: none

feat: bot boiletplate using AWS SAM, it will interact with IncrementalNGEmitoor
  bots/.eslintrc.json
  bots/.gitignore
  bots/.npmignore
  bots/.prettierrc
  bots/package.json
  bots/samconfig.toml
  bots/src/functions/IncrementorHandler/lambda.ts
  bots/src/functions/IncrementorHandler/mock.json
  bots/src/functions/index.ts
  bots/template.yaml
  bots/test/handler.spec.ts
  bots/tsconfig.json
  contracts/deploy/00-rng-dummy.ts
  contracts/deployments/arbitrumRinkeby/IncrementalNGEmitoor.json
  contracts/src/rng/IncrementalNGEmitoor.sol
  yarn.lock
Due: prettier --write, solhint --fix

feat: workflow for bot deployment to AWS
  .github/workflows/deploy-bot-pinner.yml
Due: none

fix: sam breaking change fixed, requires esbuild as prod dependency
  .github/workflows/deploy-bot-pinner.yml
  .github/workflows/deploy-bots.yml
  bots/package.json
  bots/template.yaml
  yarn.lock
Due: prettier --write
