Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

fix: missing solhint-plugin-prettier
  contracts/package.json
  yarn.lock
Due: prettier --write

fix: lint-staged config path, reverted hardhat.config.ts formatting
  .lintstagedrc.json
  contracts/hardhat.config.ts
Due: prettier --write

chore: solhint configuration
  .solhint.json
  .vscode/settings.json
  contracts/.solhint.json
  contracts/hardhat.config.ts
  contracts/package.json
  yarn.lock
Due: prettier --write

fix: prettier solidity config, separate cspell config, disabled solhint on lint-staged
  .lintstagedrc.json
  .vscode/settings.json
  cspell.json
  prettier-config/index.js
Due: prettier --write

docs: natspec reformat ocd rage as per builder-baseline#7 and builder-baseline#2
  .vscode/contract-decorators.code-snippets
  contracts/src/arbitration/CentralizedArbitrator.sol
  contracts/src/arbitration/IArbitrable.sol
  contracts/src/arbitration/IArbitrator.sol
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/KlerosGovernor.sol
  contracts/src/arbitration/PolicyRegistry.sol
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/arbitration/arbitrables/ArbitrableExampleEthFee.sol
  contracts/src/arbitration/arbitrables/DisputeResolver.sol
  contracts/src/arbitration/dispute-kits/BaseDisputeKit.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/evidence/EvidenceModule.sol
  contracts/src/evidence/IEvidence.sol
  contracts/src/evidence/IMetaEvidence.sol
  contracts/src/evidence/ModeratedEvidenceModule.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/ForeignGatewayOnGnosis.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/src/gateway/mock/VeaMock.sol
  contracts/src/gateway/single-message/ForeignGatewayOnEthereum.sol
  contracts/src/gateway/single-message/HomeGatewayToEthereum.sol
  contracts/src/gateway/single-message/interfaces/IForeignGatewaySingleMessage.sol
  contracts/src/kleros-v1/interfaces/IArbitrableV1.sol
  contracts/src/kleros-v1/interfaces/IArbitratorV1.sol
  contracts/src/kleros-v1/interfaces/ITokenController.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/WrappedPinakion.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidV2.sol
  contracts/src/kleros-v1/kleros-liquid/KlerosLiquidToV2Governor.sol
  contracts/src/libraries/CappedMath.sol
  contracts/src/libraries/SortitionSumTreeFactory.sol
  contracts/src/libraries/SortitionSumTreeFactoryV2.sol
  contracts/src/rng/BlockhashRNG.sol
  contracts/src/rng/IncrementalNG.sol
  contracts/src/rng/RNG.sol
  contracts/src/rng/RandomizerRNG.sol
Due: prettier --write, solhint --fix

feat: add sortition module
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/ISortitionModule.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/index.ts
  contracts/test/arbitration/unstake.ts
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

fix: minor improvements
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/ISortitionModule.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/libraries/SortitionSumTreeFactoryV2.sol
  contracts/test/arbitration/index.ts
Due: prettier --write, solhint --fix

docs: added Shotaro as co-author
  contracts/src/arbitration/SortitionModule.sol
Due: prettier --write, solhint --fix

feat: migrated the simulation scripts
  contracts/scripts/console-init.ts
  contracts/scripts/simulations/tasks.ts
  contracts/scripts/simulations/utils.ts
Due: prettier --write

docs: natspec for kleros/builder-baseline#7 and kleros/builder-baseline#2
  contracts/src/arbitration/SortitionModule.sol
Due: prettier --write, solhint --fix

docs: minor
  contracts/src/arbitration/SortitionModule.sol
Due: prettier --write, solhint --fix

refactor: prefix internal functions with _
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/SortitionModule.sol
  contracts/src/arbitration/dispute-kits/BaseDisputeKit.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix: vea mock
  contracts/src/gateway/mock/VeaMock.sol
Due: prettier --write, solhint --fix

fix: vea calldata encoding
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/mock/VeaMock.sol
Due: prettier --write, solhint --fix

chore: renovate config
  .renovaterc.json
Due: prettier --write

fix: scorecards workflow fix
  .github/workflows/scorecards.yml
Due: none

chore: sentry workflow hardening
  .github/workflows/sentry-release.yml
Due: none

fix: scorecards workflow
  .github/workflows/scorecards.yml
Due: none

chore: randomizer address update, removed old artifact
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deployments/arbitrumGoerli/FastBridgeSender.json
Due: prettier --write

refactor: shared package config
  .eslintrc.json
  .prettierrc.json
  contracts/.eslintrc.js
  contracts/package.json
  contracts/tsconfig.json
  eslint-config/.eslintrc.js
  eslint-config/package.json
  package.json
  prettier-config/.eslintrc
  prettier-config/.prettierrc.js
  prettier-config/index.js
  prettier-config/package.json
  subgraph/.eslintrc.json
  subgraph/.prettierrc
  subgraph/package.json
  tsconfig/.eslintrc
  tsconfig/README.md
  tsconfig/base.json
  tsconfig/package.json
  tsconfig/react-library.json
  web/.prettierrc.json
  web/package.json
  web/tsconfig.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,html,json})) or (any of: *.sol)
  solhint --fix: any of: *.sol
