Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

refactor: chainID init
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
Due: prettier --write, solhint --fix

fix(gateway): update relayCreateDispute
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeArbitrumBridge.sol
  contracts/src/bridge/SafeGnosisBridge.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

feat: access control on the fast bridge sender
  contracts/src/bridge/FastBridgeSender.sol
Due: prettier --write, solhint --fix

fix(gateway): fix cross-chain evidence related functions when we don't have a safebridge
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignEvidence.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeEvidence.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

feat(fast-bridge): add and use fast bridge
  contracts/src/bridge/FastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/ISafeBridge.sol
  contracts/src/bridge/SafeArbitrumBridge.sol
  contracts/src/bridge/SafeGnosisBridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL2Bridge.sol
  contracts/src/bridge/arbitrum/interfaces/IArbRetryableTx.sol
  contracts/src/bridge/arbitrum/interfaces/IBridge.sol
  contracts/src/bridge/arbitrum/interfaces/IInbox.sol
  contracts/src/bridge/arbitrum/interfaces/IMessageProvider.sol
  contracts/src/bridge/arbitrum/interfaces/IOutbox.sol
  contracts/src/bridge/gnosis-chain/GnosisL1Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL2Bridge.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/interfaces/ISafeBridge.sol
  contracts/src/bridge/interfaces/arbitrum/AddressAliasHelper.sol
  contracts/src/bridge/interfaces/arbitrum/IArbSys.sol
  contracts/src/bridge/interfaces/gnosis-chain/IAMB.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/arbitrum/ArbitrumGateway.sol
  contracts/src/gateway/arbitrum/EthereumToArbitrumGateway.sol
  contracts/src/gateway/arbitrum/GnosisToEthereumGateway.sol
  contracts/src/gateway/gnosis-chain/GnosisGateway.sol
Due: prettier --write, solhint --fix

refactor: minor renames
  contracts/src/bridge/FastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeBridgeArbitrum.sol
  contracts/src/bridge/SafeBridgeGnosis.sol
  contracts/src/bridge/interfaces/ISafeBridge.sol
  contracts/src/gateway/ForeignGateway.sol
Due: prettier --write, solhint --fix

refactor: combine ILxBridge to ISafeBridge
  contracts/src/bridge/IL2Bridge.sol
  contracts/src/bridge/ISafeBridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL2Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL1Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL2Bridge.sol
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
Due: prettier --write, solhint --fix

feat(gateway): create disputeHash on HomeGateway as well
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

feat: no use of the Safe Bridge in normal operations
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeArbitrumBridge.sol
  contracts/src/bridge/SafeGnosisBridge.sol
  contracts/src/bridge/interfaces/ISafeBridge.sol
Due: prettier --write, solhint --fix

feat(gateway): add deploy scripts
  contracts/README.md
  contracts/deploy-helpers/getContractAddress.js
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/deployments/arbitrumRinkeby/.chainId
  contracts/deployments/arbitrumRinkeby/FastBridgeSender.json
  contracts/deployments/arbitrumRinkeby/HomeGateway.json
  contracts/deployments/arbitrumRinkeby/SafeArbitrumBridge.json
  contracts/deployments/rinkeby/.chainId
  contracts/deployments/rinkeby/FastBridgeReceiver.json
  contracts/deployments/rinkeby/ForeignGateway.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: update deploy script after recent name changes
  contracts/deploy/02-home-chain.ts
  contracts/deployments/arbitrumRinkeby/FastBridgeSender.json
  contracts/deployments/arbitrumRinkeby/HomeGateway.json
  contracts/deployments/arbitrumRinkeby/SafeBridgeArbitrum.json
  contracts/deployments/rinkeby/FastBridgeReceiver.json
  contracts/deployments/rinkeby/ForeignGateway.json
  contracts/hardhat.config.ts
  contracts/src/bridge/FastBridgeSender.sol
Due: prettier --write, solhint --fix

feat: added Arbiscan API key for verification, redeployed to testnet
  .vscode/settings.json
  contracts/.env.example
  contracts/README.md
  contracts/deployments/arbitrumRinkeby/FastBridgeSender.json
  contracts/deployments/arbitrumRinkeby/HomeGateway.json
  contracts/deployments/arbitrumRinkeby/SafeArbitrumBridge.json
  contracts/deployments/arbitrumRinkeby/SafeBridgeArbitrum.json
  contracts/deployments/rinkeby/FastBridgeReceiver.json
  contracts/deployments/rinkeby/ForeignGateway.json
  contracts/hardhat.config.ts
  contracts/scripts/generateDeploymentsMarkdown.sh
Due: prettier --write

fix: eslint and prettify
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
Due: none

docs: command to refresh the deployed contracts
  contracts/README.md
Due: prettier --write

feat: deploy script for arbitration
  .vscode/settings.json
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/deployments/arbitrumRinkeby/ConstantNG.json
  contracts/deployments/arbitrumRinkeby/DisputeKitClassic.json
  contracts/deployments/arbitrumRinkeby/KlerosCore.json
  contracts/deployments/arbitrumRinkeby/SortitionSumTreeFactory.json
  contracts/hardhat.config.ts
  contracts/test/arbitration/index.ts
Due: prettier --write

feat: redeployed the home chain contracts
  contracts/README.md
  contracts/deployments/arbitrumRinkeby/ConstantNG.json
  contracts/deployments/arbitrumRinkeby/DisputeKitClassic.json
  contracts/deployments/arbitrumRinkeby/FastBridgeSender.json
  contracts/deployments/arbitrumRinkeby/HomeGateway.json
  contracts/deployments/arbitrumRinkeby/KlerosCore.json
  contracts/deployments/arbitrumRinkeby/SafeBridgeArbitrum.json
  contracts/deployments/arbitrumRinkeby/SortitionSumTreeFactory.json
  contracts/package.json
  yarn.lock
Due: prettier --write

fix(etherscan-verify): workaround a bug when using distinct keys per network
  contracts/.env.example
  contracts/hardhat.config.ts
Due: none

feat(wip): add demo-day UI
  web-playground/.eslintrc.json
  web-playground/.prettierrc.json
  web-playground/package.json
  web-playground/src/app.tsx
  web-playground/src/components/answers.tsx
  web-playground/src/components/connect-account.tsx
  web-playground/src/components/dispute-id.tsx
  web-playground/src/components/header.tsx
  web-playground/src/components/main.tsx
  web-playground/src/components/network-switch.tsx
  web-playground/src/components/question.tsx
  web-playground/src/components/table.tsx
  web-playground/src/components/tabs/fast-bridge.tsx
  web-playground/src/components/tabs/index.ts
  web-playground/src/components/tabs/juror.tsx
  web-playground/src/components/tabs/kleros-core/current-phase.tsx
  web-playground/src/components/tabs/kleros-core/dispute-id.tsx
  web-playground/src/components/tabs/kleros-core/index.tsx
  web-playground/src/components/tabs/l1-arbitrable/index.tsx
  web-playground/src/components/tabs/l1-arbitrable/jurors.tsx
  web-playground/src/components/tabs/l1-arbitrable/options.tsx
  web-playground/src/components/tabs/l1-arbitrable/question.tsx
  web-playground/src/components/tabs/l1-arbitrable/subcourt.tsx
  web-playground/src/components/tabs/l1-gateway.tsx
  web-playground/src/components/tabs/l2-gateway.tsx
  web-playground/src/components/tabs/simple-bridge.tsx
  web-playground/src/components/tabs/witness/evidence.tsx
  web-playground/src/components/tabs/witness/index.tsx
  web-playground/src/components/title.tsx
  web-playground/src/constants/chains.ts
  web-playground/src/hooks/useAddNetwork.ts
  web-playground/src/hooks/useSwitchNetwork.ts
  web-playground/src/index.tsx
  web-playground/src/styles/global-style.ts
  yarn.lock
Due: prettier --write

feat(wip): connect l1 arbitrable screen to the blockchain
  web-playground/package.json
  web-playground/src/components/tabs/l1-arbitrable/index.tsx
  web-playground/src/hooks/useContractCall.ts
  web-playground/src/hooks/useContractFunction.ts
  web-playground/src/utils/getContract.ts
  web-playground/tsconfig.json
  yarn.lock
Due: prettier --write

feat: add L2 safe bridge checks
  contracts/src/bridge/BaseFastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeReceiverArbitrum.sol
  contracts/src/bridge/FastBridgeReceiverGnosis.sol
  contracts/src/bridge/interfaces/arbitrum/IBridge.sol
  contracts/src/bridge/interfaces/arbitrum/IInbox.sol
  contracts/src/bridge/interfaces/arbitrum/IMessageProvider.sol
  contracts/src/bridge/interfaces/arbitrum/IOutbox.sol
Due: prettier --write, solhint --fix

feat(KlerosCore): phases implementation
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/BaseDisputeKit.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix(KC): testing errors
  contracts/test/arbitration/index.ts
Due: none
