Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

refactor(subgraph): reduce code duplication
  subgraph/src/KlerosCore.ts
Due: none

refactor(subgraph): simplify handleDraw
  subgraph/src/KlerosCore.ts
Due: none

SSQ serialization of args to a single byte32 to reduce L1 calldata gas cost on optimistic rollups saves 5%-20% of gas fees due to calldata.
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/libraries/SSQ.sol
Due: prettier --write, solhint --fix

fixing typos
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/libraries/SSQ.sol
Due: prettier --write, solhint --fix

fixing typos
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
Due: prettier --write, solhint --fix

test updates to include SSQ library
  contracts/deploy/00-home-chain-arbitration.ts
Due: none

including ssq library for disputeKitClassic
  contracts/deploy/00-home-chain-arbitration.ts
Due: none

fix(KlerosCore): don't create new dispute without DK switch
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

feat(KlerosCore): dispute kit forest implementation
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

feat: refactor passPeriod(), new events CourtJump + DisputeKitJump, extra changeDisputeKitParent()
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

refactor(DisputeKit): renamed params coreDisputeID/coreRoundID to avoid confusion with local IDs
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

refactor(KlerosCore): moved nbVotes from Dispute struct to Round struct
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

refactor(KlerosCore): introduced the NULL_DISPUTE_KIT constant
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

refactor(KlerosCore): minor changes in appeal() and execute() for readability and brevity
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

fix: minor fix, commented that changeDisputeKitParent() needs fixing
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

fix(web/netlify): add version field to workspaces
  web-playground/package.json
  web/package.json
Due: prettier --write

chore(yarn.lock): update yarn.lock
  yarn.lock
Due: none

feat(web/header): add kleros solutions icon
  web/src/assets/svgs/menu-icons/kleros-solutions.svg
  web/src/components/layout/header/navbar/index.tsx
Due: none

chore(web): add socialmedia links
  web/src/consts/socialmedia.tsx
Due: none

refactor(web): simplify directory structure
  web/package.json
  web/src/app.tsx
  web/src/components/layout/footer/SecuredByKleros.tsx
  web/src/components/layout/footer/SocialMedia.tsx
  web/src/components/layout/footer/index.tsx
  web/src/components/layout/header/KlerosCourt.tsx
  web/src/context/StyledComponentsProvider.tsx
  web/src/layout/footer/index.tsx
  web/src/layout/header/index.tsx
  web/src/layout/header/navbar/Explore.tsx
  web/src/layout/header/navbar/Menu.tsx
  web/src/layout/header/navbar/index.tsx
  web/src/layout/index.tsx
  web/tsconfig.json
Due: prettier --write

fix(web): replace wrong lightError color and label text color
  web/src/styles/global-style.ts
  web/src/styles/themes.ts
Due: none

feat(web): add StatDisplay component and start homepage dev
  web/src/assets/svgs/icons/pnk.svg
  web/src/components/StatDisplay.tsx
  web/src/pages/home/Stats.tsx
  web/src/pages/home/index.tsx
Due: none

fix(FastBridgeServerToEthereum): incorrect hash block.number parameter
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
Due: prettier --write, solhint --fix
