Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

chore: added hardhat-docgen
  contracts/hardhat.config.ts
  contracts/package.json
Due: prettier --write

feat(DisputeKit): changeCore() for the governor
  contracts/src/arbitration/DisputeKitPlurality.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKit.sol
  contracts/src/arbitration/mock/MockKlerosCore.sol
  contracts/test/arbitration/index.ts
  yarn.lock
Due: prettier --write, solhint --fix

refactor(DisputeKit): abstraction of the dispute kit
  contracts/src/arbitration/AbstractDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKit.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/test/arbitration/index.ts
Due: prettier --write, solhint --fix

refactor(KlerosCore): extracted a Round struct from the Dispute struct
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
Due: prettier --write, solhint --fix

feat(DisputeKitSybilResistant): naive sybil-resistant juror drawing
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

chore: removal of CHANGELOG.md (cause of too many conflicts)
  .husky/pre-commit
  CHANGELOG.md
Due: prettier --write

feat(arbitrum): add gateway contracts
  contracts/src/bridge/arbitrum/L1Bridge.sol
  contracts/src/bridge/arbitrum/L2Bridge.sol
  contracts/src/gateway/arbitrum/ForeignGateway.sol
  contracts/src/gateway/arbitrum/HomeGateway.sol
Due: prettier --write, solhint --fix

refactor(gateway): add {Home,Foreign}Gateway interfaces
  contracts/src/gateway/IForeignGateway.sol
  contracts/src/gateway/IHomeGateway.sol
  contracts/src/gateway/arbitrum/ArbitrumGateway.sol
  contracts/src/gateway/arbitrum/EthereumGateway.sol
Due: prettier --write, solhint --fix

feat(gateway): add access control functions
  contracts/src/bridge/arbitrum/AddressAliasHelper.sol
  contracts/src/bridge/arbitrum/L1Bridge.sol
  contracts/src/bridge/arbitrum/L2Bridge.sol
  contracts/src/gateway/arbitrum/ArbitrumGateway.sol
  contracts/src/gateway/arbitrum/EthereumGateway.sol
Due: prettier --write, solhint --fix

feat(gateway): implement disputeID mapping
  contracts/src/gateway/IForeignGateway.sol
  contracts/src/gateway/IHomeGateway.sol
  contracts/src/gateway/arbitrum/ArbitrumGateway.sol
  contracts/src/gateway/arbitrum/EthereumGateway.sol
Due: prettier --write, solhint --fix

feat(gateway): implement cross-chain evidence standard
  contracts/src/gateway/IForeignEvidence.sol
  contracts/src/gateway/IForeignGateway.sol
  contracts/src/gateway/IHomeEvidence.sol
  contracts/src/gateway/IHomeGateway.sol
  contracts/src/gateway/arbitrum/ArbitrumGateway.sol
  contracts/src/gateway/arbitrum/EthereumGateway.sol
Due: prettier --write, solhint --fix

feat(bridge): add xdai bridges
  contracts/src/bridge/IL1Bridge.sol
  contracts/src/bridge/IL2Bridge.sol
  contracts/src/bridge/arbitrum/L1Bridge.sol
  contracts/src/bridge/arbitrum/L2Bridge.sol
  contracts/src/bridge/xdai/L1Bridge.sol
  contracts/src/bridge/xdai/L2Bridge.sol
  contracts/src/bridge/xdai/interfaces/IAMB.sol
  contracts/src/gateway/arbitrum/ArbitrumGateway.sol
  contracts/src/gateway/arbitrum/EthereumGateway.sol
Due: prettier --write, solhint --fix

refactor(gateway): inherit bridge contracts
  contracts/src/bridge/IL1Bridge.sol
  contracts/src/bridge/IL2Bridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL2Bridge.sol
  contracts/src/bridge/xdai/xDaiL1Bridge.sol
  contracts/src/bridge/xdai/xDaiL2Bridge.sol
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
  contracts/src/gateway/arbitrum/ArbitrumGateway.sol
  contracts/src/gateway/arbitrum/EthereumGateway.sol
  contracts/src/gateway/interfaces/IForeignEvidence.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeEvidence.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

feat: add xdai gateway contracts
  contracts/src/gateway/xdai/EthereumGateway.sol
  contracts/src/gateway/xdai/xDaiGateway.sol
Due: prettier --write, solhint --fix

fix(gateway): fix calldata size calculation for bridging cost
  contracts/src/gateway/BaseForeignGateway.sol
Due: prettier --write, solhint --fix

chore: github workflow for contracts testing
  .github/workflows/contracts-testing.yml
Due: none

Update README.md
  README.md
Due: prettier --write

Update contracts-testing.yml
  .github/workflows/contracts-testing.yml
Due: none
