Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

Update contracts-testing.yml
  .github/workflows/contracts-testing.yml
Due: none

chore: added solidity code coverage configuration
  contracts/.gitignore
  contracts/.solcover.js
  contracts/coverage.json
Due: eslint --cache --fix, prettier --write

chore(contracts): github workflow for contracts testing (#10)
  .github/workflows/contracts-testing.yml
  README.md
  contracts/.gitignore
  contracts/.solcover.js
  contracts/coverage.json
Due: eslint --cache --fix, prettier --write

docs: pinned the Contracts Testing badge to master
  README.md
Due: prettier --write

chore(CHANGELOG): removal of changelog due to conflicts
  .husky/pre-commit
  CHANGELOG.md
Due: prettier --write

fix: join rule and execute
  CHANGELOG.md
  contracts/src/kleros-v1/KlerosV1Governor.sol
Due: prettier --write, solhint --fix

fix: notification of frozen tokens + init
  contracts/src/kleros-v1/KlerosV1Governor.sol
Due: prettier --write, solhint --fix

refactor: remove unused constant
  contracts/src/kleros-v1/KlerosV1Governor.sol
Due: prettier --write, solhint --fix

fix: pay arbitration fees
  contracts/src/kleros-v1/KlerosV1Governor.sol
Due: prettier --write, solhint --fix

fix: frozen tokens notification
  contracts/src/kleros-v1/IKlerosLiquid.sol
  contracts/src/kleros-v1/KlerosV1Governor.sol
Due: prettier --write, solhint --fix

fix: frozen tokens for null address
  contracts/src/kleros-v1/KlerosV1Governor.sol
Due: prettier --write, solhint --fix

refactor(gateway): start the foreignDisputeID from 1
  contracts/src/gateway/BaseForeignGateway.sol
Due: prettier --write, solhint --fix

chore(Code Climate): disable TS quote check
  .codeclimate.yml
Due: none

fix(gateway): update disputeHash cal
  contracts/src/gateway/BaseForeignGateway.sol
Due: prettier --write, solhint --fix

feat(DisputeKit): change RNG for governor only
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
Due: prettier --write, solhint --fix

feat(DisputeKit): better abstraction of the dispute kits
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/BaseDisputeKit.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix(CVE-2022-0155): upgraded follow-redirects
  contracts/package.json
  yarn.lock
Due: prettier --write

fix(GHSA-64g7-mvw6-v9qj): upgraded shelljs
  contracts/package.json
  yarn.lock
Due: prettier --write

chore(contracts-testing): force clearing cache
  .github/workflows/contracts-testing.yml
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: (any of: *.{md,html,json}) or (any of: *.sol)
  solhint --fix: any of: *.sol
