Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

chore: dependencies between packages, publication of the contracts package
  contracts/.npmignore
  contracts/package.json
  web-playground/package.json
  web/package.json
  yarn.lock
Due: prettier --write

feat(web): add footer, header and socialmedia svgs
  web/src/assets/svgs/footer/secured-by-kleros.svg
  web/src/assets/svgs/header/kleros-court.svg
  web/src/assets/svgs/socialmedia/discord.svg
  web/src/assets/svgs/socialmedia/etherscan.svg
  web/src/assets/svgs/socialmedia/ghost-blog.svg
  web/src/assets/svgs/socialmedia/github.svg
  web/src/assets/svgs/socialmedia/linkedin.svg
  web/src/assets/svgs/socialmedia/reddit.svg
  web/src/assets/svgs/socialmedia/snapshot.svg
  web/src/assets/svgs/socialmedia/telegram.svg
  web/src/assets/svgs/socialmedia/twitter.svg
Due: none

chore(linter): deactivate unresolved import error to allow for parcel aliases
  web/.eslintrc.json
Due: prettier --write

fix: package.json browserslist typo
  web/package.json
Due: prettier --write

feat(config): add parcel aliases for imports
  web/package.json
  web/tsconfig.json
Due: prettier --write

feat(dependencies): add kleros ui components and react router
  web/package.json
  yarn.lock
Due: prettier --write

feat(web): add routing
  web/src/pages/home.tsx
  web/src/routes.tsx
Due: none

feat(web): add layout component
  web/src/components/layout/footer/SecuredByKleros.tsx
  web/src/components/layout/footer/SocialMedia.tsx
  web/src/components/layout/footer/index.tsx
  web/src/components/layout/header/KlerosCourt.tsx
  web/src/components/layout/header/NavBar.tsx
  web/src/components/layout/header/index.tsx
  web/src/components/layout/index.tsx
  web/src/consts/socialmedia.tsx
  web/src/index.tsx
  web/src/styles/global-style.ts
Due: none

feat: added safe bridge messag enveloppe, refactored safe bridge abstraction
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/SafeBridgeReceiverOnEthereum.sol
  contracts/src/bridge/SafeBridgeSenderToArbitrumFromEthereum.sol
  contracts/src/bridge/SafeBridgeSenderToEthereum.sol
  contracts/src/bridge/SafeBridgeSenderToGnosis.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/interfaces/ISafeBridgeReceiver.sol
  contracts/src/bridge/interfaces/ISafeBridgeSender.sol
  contracts/test/pre-alpha1/index.ts
Due: prettier --write, solhint --fix

feat: preparatory work for the unhappy path implementation
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/src/bridge/FastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeBridgeArbitrum.sol
  contracts/src/bridge/SafeBridgeGnosis.sol
  contracts/src/bridge/SafeBridgeSenderOnEthereumToArbitrum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/arbitrum/IArbRetryableTx.sol
  contracts/src/bridge/interfaces/arbitrum/IInbox.sol
  contracts/src/bridge/interfaces/arbitrum/IOutbox.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
Due: prettier --write, solhint --fix

refactor: naming convention for the pairs of contracts of each bridge
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/FastBridgeSenderToGnosis.sol
  contracts/src/bridge/SafeBridgeSenderToArbitrumFromEthereum.sol
  contracts/src/bridge/SafeBridgeSenderToEthereum.sol
  contracts/src/bridge/SafeBridgeSenderToGnosis.sol
  contracts/src/gateway/ForeignGatewayOnEthereum.sol
  contracts/src/gateway/ForeignGatewayOnGnosis.sol
  contracts/src/gateway/HomeGatewayToEthereum.sol
  contracts/src/gateway/HomeGatewayToGnosis.sol
  contracts/test/pre-alpha1/index.ts
  web-playground/src/hooks/queries/useFastBridgeQuery.ts
  web-playground/src/hooks/queries/useForeignGatewayDisputeQuery.ts
  web-playground/src/hooks/queries/useHomeGatewayDisputesQuery.ts
  web-playground/src/utils/getContract.ts
Due: prettier --write, solhint --fix

check for challenge on claims
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
Due: prettier --write, solhint --fix

feat(FastBridge): unhappy path introducing a ticketID
  contracts/deploy/02-home-chain.ts
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/gateway/ForeignGatewayOnEthereum.sol
Due: prettier --write, solhint --fix

fix(FastBridgeReceiver): set verified to true when claim is unchallenged
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
Due: prettier --write, solhint --fix

fix: data location set to storage to create a reference instead of a copy
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
Due: prettier --write, solhint --fix

fix: incorrect verifications
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
Due: prettier --write, solhint --fix

Implementation of challenge-path functions
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
Due: prettier --write, solhint --fix

fix: prevent loss of claim deposit for already relayed tickets
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
Due: prettier --write, solhint --fix

feat: prevent zero-cost delay grief
  contracts/deploy/01-foreign-chain.ts
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
Due: prettier --write, solhint --fix

feat: unpredictable messageHash and data location considerations
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
Due: prettier --write, solhint --fix
