Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

feat(web): add Community section to homepage
  web/src/assets/svgs/icons/chat.svg
  web/src/assets/svgs/icons/french-flag.svg
  web/src/assets/svgs/icons/phone.svg
  web/src/assets/svgs/icons/snapshot-color.svg
  web/src/assets/svgs/socialmedia/slack.svg
  web/src/consts/community-elements.tsx
  web/src/pages/home/Community/Element.tsx
  web/src/pages/home/Community/index.tsx
  web/src/pages/home/index.tsx
  web/src/styles/global-style.ts
Due: none

chore(web): update react typing packages and eslint
  package.json
  web/package.json
  yarn.lock
Due: prettier --write

chore(web): update parcel and remove build browser restrictions
  web-playground/package.json
  web/package.json
  yarn.lock
Due: prettier --write

refactor(web): clean code smells
  web/src/components/DisputeCard/DisputeInfo.tsx
  web/src/components/DisputeCard/PeriodBanner.tsx
  web/src/pages/home/CourtOverview/Chart.tsx
Due: none

chore: upgrading volta pin for node
  package.json
Due: prettier --write

chore(subgraph): reference abis directly from contracts directory
  subgraph/abis/FastBridgeSender.json
  subgraph/abis/HomeGateway.json
  subgraph/abis/KlerosCore.json
  subgraph/subgraph.yaml
Due: prettier --write

fix(CVE-2022-29078): upgraded ejs
  package.json
  yarn.lock
Due: prettier --write

chore: upgraded the graph libraries, responsible for CVE-2022-24772
  subgraph/package.json
  yarn.lock
Due: prettier --write

fix(web): remove svg presets from socialmedia icons and hamburger
  web/src/assets/svgs/header/hamburger.svg
  web/src/assets/svgs/socialmedia/discord.svg
  web/src/assets/svgs/socialmedia/etherscan.svg
  web/src/assets/svgs/socialmedia/ghost-blog.svg
  web/src/assets/svgs/socialmedia/github.svg
  web/src/assets/svgs/socialmedia/linkedin.svg
  web/src/assets/svgs/socialmedia/reddit.svg
  web/src/assets/svgs/socialmedia/slack.svg
  web/src/assets/svgs/socialmedia/snapshot.svg
  web/src/assets/svgs/socialmedia/telegram.svg
  web/src/assets/svgs/socialmedia/twitter.svg
  web/src/layout/footer/index.tsx
  web/src/layout/header/index.tsx
Due: none

refactor(web): resolve toggleThemeContext smells
  web/src/hooks/useToggleThemeContext.tsx
Due: none

refactor(web): rename files and folders for more consistent naming
  web/src/layout/Footer/index.tsx
  web/src/layout/Header/index.tsx
  web/src/layout/Header/navbar/Explore.tsx
  web/src/layout/Header/navbar/Menu.tsx
  web/src/layout/Header/navbar/index.tsx
  web/src/layout/index.tsx
Due: none

chore(web): add generated files to codeclimate exclude paths
  .codeclimate.yml
Due: none

refactor(web): improve home chart component
  web/src/pages/home/CourtOverview/Chart.tsx
Due: none

refactor(web): reduce code duplication in home page stats section
  web/src/components/StatDisplay.tsx
  web/src/hooks/useHomePageContext.tsx
  web/src/pages/home/CourtOverview/Stats.tsx
Due: none

fix(web): add explicit children typing to comply with react 18 types
  web/src/context/StyledComponentsProvider.tsx
Due: none

feat(bridge): removed inheritance
  contracts/src/bridge/FastBridgeReceiverBase.sol
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/FastBridgeSenderBase.sol
  contracts/src/bridge/test/FastBridgeSenderMock.sol
Due: prettier --write, solhint --fix

chore: fix yarn.lock
  yarn.lock
Due: none

chore: upgrade @tenderly/hardhat-tenderly package version
  contracts/package.json
  yarn.lock
Due: prettier --write

feat: bot boiletplate using AWS SAM, it will interact with IncrementalNGEmitoor
  bots/.eslintrc.json
  bots/.gitignore
  bots/.npmignore
  bots/.prettierrc
  bots/package.json
  bots/samconfig.toml
  bots/src/functions/IncrementorHandler/lambda.ts
  bots/src/functions/IncrementorHandler/mock.json
  bots/src/functions/index.ts
  bots/template.yaml
  bots/test/handler.spec.ts
  bots/tsconfig.json
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deployments/arbitrumRinkeby/DisputeKitClassic.json
  contracts/deployments/arbitrumRinkeby/IncrementalNG.json
  contracts/deployments/arbitrumRinkeby/IncrementalNGEmitoor.json
  contracts/deployments/arbitrumRinkeby/KlerosCore.json
  contracts/deployments/arbitrumRinkeby/SortitionSumTreeFactory.json
  contracts/src/rng/IncrementalNGEmitoor.sol
  yarn.lock
Due: prettier --write, solhint --fix

docs: added Netlify badge to README
  README.md
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: (any of: *.{md,html,json}) or (any of: *.sol)
  solhint --fix: any of: *.sol
