Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "prettier --write",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

feat(subgraph): add sender to evidence entity
  subgraph/schema.graphql
  subgraph/src/DisputeKitClassic.ts
Due: prettier --write

feat(subgraph): add vote and justification support
  subgraph/schema.graphql
  subgraph/src/DisputeKitClassic.ts
  subgraph/src/KlerosCore.ts
  subgraph/subgraph.yaml
Due: prettier --write

fix(subgraph): remove safety check as is not needed
  subgraph/src/DisputeKitClassic.ts
Due: prettier --write

fix: lock file
  yarn.lock
Due: none

feat(subgraph): add DisputeKitClassic evidence mappings
  subgraph/schema.graphql
  subgraph/src/DisputeKitClassic.ts
  subgraph/subgraph.yaml
Due: prettier --write

fix(subgraph): update lastEvidenceID after processing evidence
  subgraph/src/DisputeKitClassic.ts
Due: prettier --write

fix(subgraph): change vote round id init value
  subgraph/src/DisputeKitClassic.ts
Due: prettier --write

fix(subgraph): change evidence event handler name
  subgraph/src/DisputeKitClassic.ts
Due: prettier --write

feat: add current decision
  subgraph/schema.graphql
  subgraph/src/DisputeKitClassic.ts
Due: prettier --write

feat(Governor): add contract
  contracts/src/arbitration/KlerosGovernor.sol
Due: prettier --write, solhint --fix

chore: redeployed, populated the courts and policy registry
  contracts/.env.example
  contracts/README.md
  contracts/deployments/arbitrumGoerli/BlockHashRNG.json
  contracts/deployments/arbitrumGoerli/DisputeKitClassic.json
  contracts/deployments/arbitrumGoerli/DisputeResolver.json
  contracts/deployments/arbitrumGoerli/FastBridgeSender.json
  contracts/deployments/arbitrumGoerli/HomeGatewayToEthereum.json
  contracts/deployments/arbitrumGoerli/IncrementalNG.json
  contracts/deployments/arbitrumGoerli/KlerosCore.json
  contracts/deployments/arbitrumGoerli/PolicyRegistry.json
  contracts/deployments/arbitrumGoerli/SortitionSumTreeFactory.json
  contracts/deployments/arbitrumRinkeby/Blockhash.json
  contracts/deployments/goerli/ArbitrableExample.json
  contracts/deployments/goerli/FastBridgeReceiverOnEthereum.json
  contracts/deployments/goerli/ForeignGatewayOnEthereum.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/scripts/generateDeploymentsMarkdown.sh
  yarn.lock
Due: prettier --write

chore: new core subgraph deployed for Arbitrum Goerli
  subgraph/README.md
  subgraph/package.json
  subgraph/scripts/update.sh
  subgraph/subgraph.yaml
Due: prettier --write

chore: volta versions pinned
  contracts/package.json
  package.json
  subgraph/package.json
  web/package.json
Due: prettier --write

feat(wip, subgraph): add datapoints
  subgraph/schema.graphql
  subgraph/src/KlerosCore.ts
  subgraph/src/datapoint.ts
  subgraph/src/utils.ts
  subgraph/subgraph.yaml
  yarn.lock
Due: prettier --write

fix: gluegun yarn.lock
  yarn.lock
Due: none

docs: SECURITY.md
  SECURITY.md
Due: prettier --write

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/contracts-testing.yml
  .github/workflows/deploy-bots.yml
Due: none

chore: block egress traffic during contracts testing
  .github/workflows/codeql-analysis.yml
  .github/workflows/contracts-testing.yml
Due: none

chore: added OSSF scorecards scanning
  .github/workflows/scorecards.yml
Due: none

docs: OSSF badge
  README.md
Due: prettier --write
