Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

fix: deploy scripts
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
Due: none

fix: require ArbSys call() to succeed
  contracts/src/bridge/mock/ArbSysMock.sol
Due: prettier --write, solhint --fix

test: deploy central arbitrator for adhoc tests
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
Due: none

style: lint fix
  contracts/deploy/01-foreign-chain.ts
Due: none

fix: override view funciton
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
Due: prettier --write, solhint --fix

style: fix code lint
  contracts/deploy/01-foreign-chain.ts
Due: none

fix: keeping the CodeClimate linter happy
  contracts/deploy/02-home-chain.ts
Due: none

fix: removed work-in-progress for changeDisputeKitParent() to another branch
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

refactor: moved nbVotes from DisputeKit.Dispute to DisputeKit.Round
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

feat: merkle tree refactoring
  contracts/src/bridge/merkle/MerkleProof.sol
  contracts/src/bridge/merkle/MerkleProofExposed.sol
  contracts/src/bridge/merkle/MerkleTree.sol
  contracts/src/bridge/merkle/MerkleTreeExposed.sol
  contracts/test/bridge/merkle/MerkleTree.ts
  contracts/test/bridge/merkle/index.ts
Due: prettier --write, solhint --fix

fix: changes to mock deployments & related parameters
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/src/bridge/mock/FastBridgeSenderToEthereumMock.sol
  contracts/test/pre-alpha1/index.ts
Due: prettier --write, solhint --fix

feat: refactoring and gas optimization
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/gateway/HomeGatewayToEthereum.sol
Due: prettier --write, solhint --fix

feat: fix chainID constructor
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/src/gateway/ForeignGatewayOnEthereum.sol
  contracts/src/gateway/HomeGatewayToEthereum.sol
Due: prettier --write, solhint --fix

feat: gnosis chain support
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeSenderToGnosis.sol
  contracts/src/bridge/SafeBridgeReceiverOnGnosis.sol
  contracts/src/bridge/SafeBridgeSenderToGnosisFromArbitrum.sol
  contracts/src/gateway/ForeignGatewayOnEthereum.sol
  contracts/src/gateway/ForeignGatewayOnGnosis.sol
  contracts/src/gateway/HomeGatewayToGnosis.sol
Due: prettier --write, solhint --fix

refactor: attempt at simplifying the phases logic
  contracts/hardhat.config.ts
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/test/pre-alpha1/index.ts
Due: prettier --write, solhint --fix

refactor: safer passPhase() at the expense of gas/complexity
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/test/pre-alpha1/index.ts
Due: prettier --write, solhint --fix

feat: refactoring and gc fallback fix
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/FastBridgeSenderToGnosis.sol
  contracts/src/bridge/interfaces/FastBridgeReceiverBase.sol
  contracts/src/bridge/interfaces/FastBridgeSenderBase.sol
  contracts/src/bridge/safe-bridges/SafeBridgeReceiverOnEthereum.sol
  contracts/src/bridge/safe-bridges/SafeBridgeReceiverOnGnosis.sol
  contracts/src/bridge/safe-bridges/SafeBridgeSenderToArbitrumFromEthereum.sol
  contracts/src/bridge/safe-bridges/SafeBridgeSenderToEthereum.sol
  contracts/src/bridge/safe-bridges/SafeBridgeSenderToGnosis.sol
  contracts/src/bridge/safe-bridges/SafeBridgeSenderToGnosisFromArbitrum.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/ForeignGatewayOnGnosis.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/HomeGatewayToGnosis.sol
Due: prettier --write, solhint --fix

chore: updated the dev dependencies for the contracts package
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/test/evidence/index.ts
  yarn.lock
Due: prettier --write

fix(CVE-2021-43138): upgraded async
  package.json
  yarn.lock
Due: prettier --write

feat: refactoring safe router into new contract
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/FastBridgeSenderToGnosis.sol
  contracts/src/bridge/SafeBridgeRouter.sol
  contracts/src/bridge/interfaces/FastBridgeSenderBase.sol
  contracts/src/bridge/interfaces/ISafeBridgeRouter.sol
  contracts/src/bridge/interfaces/ISafeBridgeSender.sol
  contracts/src/bridge/safe-bridges/SafeBridgeSenderToEthereum.sol
Due: prettier --write, solhint --fix

refactor: implemented the feedback from @unknownunknown1
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

feat: optimized the iterations through the dispute kits during KlerosCore.passPhase()
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/pre-alpha1/index.ts
Due: prettier --write, solhint --fix

fix: removed an optimistic assumption of at least 1 honest bot forcing a DK back to Resolving
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

docs: extra comment for passPhase()
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

feat: improvements to the passPhase() logic, thanks to feedback from @unknownunknown1
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix
