Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

feat: workflow for bot deployment to AWS
  .github/workflows/deploy-bot-pinner.yml
Due: none

refactor: workflow rename
  .github/workflows/deploy-bots.yml
Due: none

docs: added gitpoap badge
  README.md
Due: prettier --write

fix: bot-pinner dappnode semver
  bot-pinner/dappnode_package.json
  bot-pinner/docker-compose-dappnode.yml
Due: prettier --write

feat: migrated and deployed the PolicyRegistry
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deployments/arbitrumGoerli/PolicyRegistry.json
  contracts/deployments/arbitrumRinkeby/PolicyRegistry.json
  contracts/src/arbitration/PolicyRegistry.sol
Due: prettier --write, solhint --fix

chore: scripts to populate the policy registry
  contracts/README.md
  contracts/package.json
  contracts/scripts/getPoliciesV1.ts
  contracts/scripts/populatePolicyRegistry.ts
  contracts/tsconfig.json
  yarn.lock
Due: prettier --write

fix: linting
  contracts/scripts/getPoliciesV1.ts
Due: prettier --write

fix: gas improvements
  contracts/src/rng/BlockhashRNG.sol
Due: prettier --write, solhint --fix

feat: migration to a L1 blockhash-based RNG with significant lookahead as recommended by EIP-4933
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/package.json
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/rng/BlockhashRNG.sol
  contracts/src/rng/BlockhashRNGFallback.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/index.ts
  contracts/test/arbitration/unstake.ts
  contracts/test/integration/index.ts
  yarn.lock
Due: prettier --write, solhint --fix

fix: changed the lookahead to 20 (L2 sequencer finality only)
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/unstake.ts
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

refactor: rng inheritance simplified, removed unused incentive mechanism
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/rng/BlockhashRNG.sol
  contracts/src/rng/BlockhashRNGFallback.sol
  contracts/src/rng/ConstantNG.sol
  contracts/src/rng/IncrementalNG.sol
  contracts/src/rng/RNG.sol
  contracts/test/arbitration/index.ts
  contracts/test/integration/index.ts
  contracts/test/rng/index.ts
Due: prettier --write, solhint --fix

fix: lock file
  yarn.lock
Due: none

chore: scripts to populate the subcourts
  contracts/README.md
  contracts/scripts/getCourtsV1.ts
  contracts/scripts/populateCourts.ts
  contracts/src/kleros-v1/IKlerosLiquid.sol
Due: prettier --write, solhint --fix

feat: subcourt initialization script can update existing subcourts
  contracts/scripts/populateCourts.ts
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

feat(web): add web3 boilerplate
  web/package.json
  web/src/connectors/injected.ts
  web/src/consts/supportedChains.ts
  web/src/context/Web3Provider.tsx
  web/src/hooks/useConnect.ts
  web/src/hooks/useWeb3.ts
  web/tsconfig.json
  yarn.lock
Due: prettier --write

feat(web): add web3 connect button and wrong chain error boundary
  web/src/app.tsx
  web/src/components/ConnectButton.tsx
  web/src/components/WrongChainBoundary.tsx
  web/src/styles/themes.ts
  web/src/utils/shortenAddress.ts
  web/src/utils/switchChain.ts
Due: prettier --write

fix(web): improve mobile header menu
  web/src/layout/Header/index.tsx
  web/src/layout/Header/navbar/Explore.tsx
  web/src/layout/Header/navbar/index.tsx
Due: prettier --write

fix(web): move key prop to correct level
  web/src/components/CasesDisplay/Stats.tsx
  web/src/pages/Home/Community/Element.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
Due: prettier --write

fix(Sortition): remove multiple module support
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

chore: script to force reinstall
  package.json
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,html,json})) or (any of: *.sol)
  solhint --fix: any of: *.sol
