Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

style: changed comments
  contracts/src/bridge/merkle/MerkleTreeHistory.sol
Due: prettier --write, solhint --fix

chore: update @kleros/ui-components-library
  web/package.json
  yarn.lock
Due: prettier --write

fix(web): replace 100vw for 100% in header, footer and home to avoid horizontal scroll
  web/src/layout/footer/index.tsx
  web/src/layout/header/index.tsx
  web/src/pages/home/index.tsx
Due: none

fix(web): remove margin-top from title tags
  web/src/styles/global-style.ts
Due: none

refactor(web): organize home page directory
  web/src/pages/home/CourtOverview/Chart.tsx
  web/src/pages/home/CourtOverview/Stats.tsx
  web/src/pages/home/CourtOverview/TimeSeriesChart.tsx
  web/src/pages/home/CourtOverview/index.tsx
  web/src/pages/home/LatestCases.tsx
  web/src/pages/home/index.tsx
Due: none

chore: remove explicit cache directory
  web/.yarnrc.yml
  web/netlify.toml
Due: none

fix: use keccak for leaves.
  contracts/src/bridge/merkle/MerkleProof.sol
  contracts/src/bridge/merkle/MerkleTreeHistory.sol
Due: prettier --write, solhint --fix

fix: updated tests w new leaf hash
  contracts/test/bridge/merkle/MerkleTree.ts
  contracts/test/bridge/merkle/index.ts
Due: none

fix: sha256 needed to prevent 2nd pre-image attack
  contracts/src/bridge/merkle/MerkleProof.sol
  contracts/src/bridge/merkle/MerkleTreeHistory.sol
  contracts/test/bridge/merkle/MerkleTree.ts
  contracts/test/bridge/merkle/index.ts
Due: prettier --write, solhint --fix

feat: prevent dos attack
  contracts/src/bridge/merkle/MerkleProof.sol
  contracts/src/bridge/merkle/MerkleTreeHistory.sol
Due: prettier --write, solhint --fix

fix(CVE-2021-44906): upgraded minimist
  package.json
  yarn.lock
Due: prettier --write

fix: sha256 leaves to avoid 2nd pre-image attack
  contracts/src/bridge/merkle/MerkleProof.sol
  contracts/src/bridge/merkle/MerkleTreeHistory.sol
  contracts/test/bridge/merkle/MerkleTree.ts
  contracts/test/bridge/merkle/index.ts
Due: prettier --write, solhint --fix

refactor(web): unify homepage queries
  web/src/app.tsx
  web/src/graphql/generated.ts
  web/src/hooks/queries/useChartQuery.ts
  web/src/hooks/queries/useDataPointQuery.ts
  web/src/hooks/queries/useHomePageQuery.ts
  web/src/hooks/useHomePageContext.tsx
  web/src/pages/home/CourtOverview/Chart.tsx
  web/src/pages/home/CourtOverview/Stats.tsx
  web/src/pages/home/index.tsx
Due: none

feat: gas savings, compile w optimization
  contracts/src/bridge/merkle/MerkleTreeHistory.sol
Due: prettier --write, solhint --fix

test: added bridge-tests for cases
  .gitignore
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/src/bridge/mock/ArbSysMock.sol
  contracts/src/bridge/mock/BridgeMock.sol
  contracts/src/bridge/mock/FastBridgeSenderToEthereumMock.sol
  contracts/src/bridge/mock/InboxMock.sol
  contracts/src/bridge/mock/OutboxMock.sol
  contracts/test/pre-alpha1/index.ts
Due: prettier --write, solhint --fix

feat: unhappy path with merkle tree
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/SafeBridgeReceiverOnEthereum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/gateway/HomeGatewayToEthereum.sol
Due: prettier --write, solhint --fix

feat: immutable chainIDs increase gas efficiency
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/gateway/ForeignGatewayOnEthereum.sol
Due: prettier --write, solhint --fix

feat: updated tests
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
Due: none

chore: test typos
  contracts/deploy/01-foreign-chain.ts
Due: none

chore: whitespace formatting
  contracts/deploy/01-foreign-chain.ts
Due: none

chore: remove comment
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
Due: prettier --write, solhint --fix

chore: remove testing value
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
Due: prettier --write, solhint --fix

style: remove testing comments
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
Due: prettier --write, solhint --fix

test: adapt deployment scripts
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeSenderToEthereum.sol
  contracts/src/bridge/SafeBridgeReceiverOnEthereum.sol
  contracts/src/gateway/ForeignGatewayOnEthereum.sol
  contracts/src/gateway/HomeGatewayToEthereum.sol
Due: prettier --write, solhint --fix

test: fixed broken test using a hardcoded hash based on an unpredictable block number
  contracts/test/pre-alpha1/index.ts
Due: none
