Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "prettier --write",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

docs: removed deprecation for Rinkeby
  contracts/README.md
Due: prettier --write

fix: lock file
  yarn.lock
Due: none

fix: yarn.lock
  yarn.lock
Due: none

fix(web): remove redundant awaits
  web/src/utils/switchChain.ts
Due: prettier --write

fix(Sortition): generalize drawing
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/data-structures/ISortitionModule.sol
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

chore: added override subcourt parameters override for testing purposes
  contracts/scripts/populateCourts.ts
Due: prettier --write

fix(Sortition): fix compiler and test errors
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/test/arbitration/index.ts
  contracts/test/arbitration/unstake.ts
Due: prettier --write, solhint --fix

fix(Arbitration): small bug fixes
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

feat(web): add dispute overview page and routing
  web/package.json
  web/src/app.tsx
  web/src/assets/svgs/icons/bullhorn.svg
  web/src/assets/svgs/icons/doc.svg
  web/src/assets/svgs/icons/eye.svg
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Cases/CaseDetails/voting/Binary.tsx
  web/src/pages/Cases/CaseDetails/voting/index.tsx
  web/src/pages/Cases/index.tsx
  yarn.lock
Due: prettier --write

chore: update kleros ui components and add react skeleton
  web/package.json
  yarn.lock
Due: prettier --write

feat(web, wip): add evidence tab to dispute details page
  web/package.json
  web/src/app.tsx
  web/src/graphql/generated.ts
  web/src/hooks/queries/useDrawQuery.ts
  web/src/hooks/queries/useEvidenceGroup.ts
  web/src/hooks/queries/useEvidences.ts
  web/src/hooks/queries/useGetMetaEvidence.ts
  web/src/hooks/useConnectedContract.ts
  web/src/hooks/useEventQuery.ts
  web/src/index.tsx
  web/src/pages/Cases/CaseDetails/Evidence.tsx
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Cases/CaseDetails/voting/Binary.tsx
  web/src/pages/Dashboard/index.tsx
  web/src/pages/Home/LatestCases.tsx
  web/src/styles/global-style.ts
  web/src/utils/getContract.ts
  yarn.lock
Due: prettier --write

feat(web, wip): add tabs to dispute details page
  web/src/app.tsx
  web/src/components/CasesDisplay/CasesGrid.tsx
  web/src/components/CasesDisplay/index.tsx
  web/src/components/DisputeCard/DisputeInfo.tsx
  web/src/components/DisputeCard/index.tsx
  web/src/components/EvidenceCard.tsx
  web/src/consts/periods.ts
  web/src/graphql/generated.ts
  web/src/hooks/queries/useCasesQuery.ts
  web/src/hooks/queries/useCourtPolicy.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/hooks/queries/useGetMetaEvidence.ts
  web/src/hooks/queries/useHomePageQuery.ts
  web/src/hooks/useConnectedContract.ts
  web/src/hooks/useIPFSQuery.ts
  web/src/pages/Cases/CaseDetails/Evidence.tsx
  web/src/pages/Cases/CaseDetails/Overview.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Cases/CaseDetails/voting/Binary.tsx
  web/src/pages/Cases/index.tsx
  web/src/utils/date.ts
  web/src/utils/getContract.ts
  web/tsconfig.json
Due: prettier --write

feat(web, wip): improve evidence showing
  web/package.json
  web/src/assets/svgs/icons/attachment.svg
  web/src/components/CasesDisplay/CasesGrid.tsx
  web/src/components/CasesDisplay/index.tsx
  web/src/components/EvidenceCard.tsx
  web/src/graphql/generated.ts
  web/src/hooks/queries/useCasesQuery.ts
  web/src/hooks/queries/useEvidences.ts
  web/src/hooks/queries/useGetMetaEvidence.ts
  web/src/pages/Cases/CaseDetails/Evidence/SubmitEvidenceModal.tsx
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
  web/src/pages/Cases/CaseDetails/Overview.tsx
  web/src/pages/Cases/CaseDetails/voting/Binary.tsx
  web/src/pages/Cases/index.tsx
  web/src/pages/Dashboard/index.tsx
  yarn.lock
Due: prettier --write

fix(web): fix current period index on disputes without hidden votes
  web/src/graphql/generated.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/pages/Cases/CaseDetails/index.tsx
Due: prettier --write

feat(web, wip): add policy to dispute overview, fix voting bug
  web/src/assets/svgs/icons/policy.svg
  web/src/components/DisputeCard/PeriodBanner.tsx
  web/src/components/DisputeCard/index.tsx
  web/src/graphql/generated.ts
  web/src/hooks/queries/useDrawQuery.ts
  web/src/hooks/queries/useVotingHistory.ts
  web/src/pages/Cases/CaseDetails/Evidence/index.tsx
  web/src/pages/Cases/CaseDetails/Overview.tsx
  web/src/pages/Cases/CaseDetails/Voting/Binary.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
  web/src/pages/Cases/CaseDetails/Voting/index.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
  web/src/pages/Cases/CaseDetails/voting/index.tsx
  web/src/utils/date.ts
Due: prettier --write

chore(web): remove console.log
  web/src/app.tsx
  web/src/hooks/queries/useGetMetaEvidence.ts
Due: prettier --write

fix(web): fix broken links to court and dispute policy
  web/src/pages/Cases/CaseDetails/Overview.tsx
Due: prettier --write

fix(web): allow undefined value for props Overview page
  web/src/hooks/queries/useCourtPolicy.ts
  web/src/pages/Cases/CaseDetails/Overview.tsx
Due: prettier --write

fix(web): spelling mistake
  web/src/pages/Cases/CaseDetails/Voting/Binary.tsx
Due: prettier --write

feat(web, wip): add details to dispute overview
  web/src/components/DisputeCard/DisputeInfo.tsx
  web/src/graphql/generated.ts
  web/src/hooks/queries/useDisputeDetailsQuery.ts
  web/src/pages/Cases/CaseDetails/Overview.tsx
Due: prettier --write

fix(web): correctly check undefined on DisputeInfo for period
  web/src/components/DisputeCard/DisputeInfo.tsx
Due: prettier --write
