Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

feat(deploy): referencing the PNK token for each chain
  .vscode/settings.json
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-chain.ts
  contracts/deployments/arbitrumRinkeby/HomeGateway.json
  contracts/deployments/arbitrumRinkeby/KlerosCore.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/arbitration/PNK.sol
  contracts/test/arbitration/index.ts
  yarn.lock
Due: prettier --write, solhint --fix

docs(PNK): updated PNK contracts address
  contracts/README.md
  contracts/scripts/generateDeploymentsMarkdown.sh
Due: prettier --write

feat(wip): improve multichain communication and display
  web-playground/.eslintrc.json
  web-playground/package.json
  web-playground/src/app.tsx
  web-playground/src/components/dispute-id.tsx
  web-playground/src/components/header.tsx
  web-playground/src/components/skeleton-provider.tsx
  web-playground/src/components/table.tsx
  web-playground/src/components/tabs/fast-bridge.tsx
  web-playground/src/components/tabs/juror.tsx
  web-playground/src/components/tabs/kleros-core/current-phase.tsx
  web-playground/src/components/tabs/kleros-core/dispute-id.tsx
  web-playground/src/components/tabs/kleros-core/disputes-table.tsx
  web-playground/src/components/tabs/kleros-core/index.tsx
  web-playground/src/components/tabs/l1-arbitrable/index.tsx
  web-playground/src/components/tabs/l1-arbitrable/options.tsx
  web-playground/src/components/tabs/l1-arbitrable/question.tsx
  web-playground/src/components/tabs/l1-gateway/index.tsx
  web-playground/src/components/tabs/l2-gateway.tsx
  web-playground/src/components/tabs/simple-bridge.tsx
  web-playground/src/components/tabs/witness/index.tsx
  web-playground/src/hooks/queries/useHomeGatewayDisputesQuery.ts
  web-playground/src/hooks/queries/useKlerosCoreDisputesQuery.ts
  web-playground/src/hooks/queries/useOutgoingDisputeQuery.tsx
  web-playground/src/hooks/queries/useOutgoingMessageQuery.ts
  web-playground/src/hooks/useConnectedContract.ts
  web-playground/src/hooks/useContractCall.ts
  web-playground/src/hooks/useContractFunction.ts
  web-playground/src/hooks/useFormatedDisputeQuery.ts
  web-playground/src/hooks/useSwitchNetwork.ts
  web-playground/src/index.tsx
  web-playground/src/utils/shortenString.ts
  web-playground/tsconfig.json
  yarn.lock
Due: prettier --write

feat: add getTimesPerPeriod to KlerosCore
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

feat(Evidence): evidence submission from the arbitration side
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/evidence/EvidenceModule.sol
  contracts/src/evidence/IEvidence.sol
  contracts/src/evidence/IMetaEvidence.sol
  contracts/src/evidence/ModeratedEvidenceModule.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

feat(deploy): deployed PR #49 #48 and ArbitrableExample
  contracts/README.md
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/deployments/arbitrumRinkeby/DisputeKitClassic.json
  contracts/deployments/arbitrumRinkeby/FastBridgeSender.json
  contracts/deployments/arbitrumRinkeby/HomeGateway.json
  contracts/deployments/arbitrumRinkeby/KlerosCore.json
  contracts/deployments/arbitrumRinkeby/SafeBridgeArbitrum.json
  contracts/deployments/rinkeby/ArbitrableExample.json
  contracts/deployments/rinkeby/FastBridgeReceiver.json
  contracts/deployments/rinkeby/ForeignGateway.json
  contracts/deployments/rinkeby/MetaEvidence_ArbitrableExample.json
  contracts/src/arbitration/ArbitrableExample.sol
  contracts/test/arbitration/index.ts
Due: prettier --write, solhint --fix

feat: add functionality to bridge pages and improve ux
  web-playground/.eslintrc.json
  web-playground/src/components/dispute-id.tsx
  web-playground/src/components/tabs/fast-bridge/action-button.tsx
  web-playground/src/components/tabs/fast-bridge/index.tsx
  web-playground/src/components/tabs/fast-bridge/l1-rulings.tsx
  web-playground/src/components/tabs/fast-bridge/l2-rulings.tsx
  web-playground/src/components/tabs/juror.tsx
  web-playground/src/components/tabs/kleros-core/dispute-id.tsx
  web-playground/src/components/tabs/kleros-core/disputes-table.tsx
  web-playground/src/components/tabs/kleros-core/draw-jurors.tsx
  web-playground/src/components/tabs/kleros-core/execute-button.tsx
  web-playground/src/components/tabs/kleros-core/pass-period.tsx
  web-playground/src/components/tabs/l1-gateway/outgoing-dispute-creations.tsx
  web-playground/src/components/tabs/l2-gateway.tsx
  web-playground/src/components/tabs/l2-gateway/disputes.tsx
  web-playground/src/components/tabs/l2-gateway/index.tsx
  web-playground/src/components/tabs/simple-bridge.tsx
  web-playground/src/components/tabs/simple-bridge/action-button.tsx
  web-playground/src/components/tabs/simple-bridge/dispute-creation.tsx
  web-playground/src/components/tabs/simple-bridge/index.tsx
  web-playground/src/hooks/queries/useFastBridgeQuery.ts
  web-playground/src/hooks/queries/useForeignGatewayDisputeQuery.ts
  web-playground/src/hooks/queries/useHomeGatewayDisputesQuery.ts
  web-playground/src/hooks/queries/useKlerosCoreDisputesQuery.ts
  web-playground/src/hooks/queries/useKlerosCoreDrawsQuery.ts
  web-playground/src/hooks/queries/useOutgoingDisputeQuery.tsx
  web-playground/src/hooks/queries/useOutgoingMessageQuery.ts
Due: prettier --write

fix(KlerosCore): simplification and bug fixes
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix(KlerosCore): remove useless condition
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

feat(wip demo day UI): implement kleros core button actions
  web-playground/src/components/dispute-id.tsx
  web-playground/src/components/tabs/fast-bridge/action-button.tsx
  web-playground/src/components/tabs/fast-bridge/index.tsx
  web-playground/src/components/tabs/fast-bridge/l1-rulings.tsx
  web-playground/src/components/tabs/fast-bridge/l2-rulings.tsx
  web-playground/src/components/tabs/juror.tsx
  web-playground/src/components/tabs/kleros-core/disputes-table.tsx
  web-playground/src/components/tabs/kleros-core/draw-jurors.tsx
  web-playground/src/components/tabs/kleros-core/index.tsx
  web-playground/src/components/tabs/kleros-core/jurors-table.tsx
  web-playground/src/components/tabs/kleros-core/pass-period.tsx
  web-playground/src/components/tabs/l2-gateway/disputes.tsx
  web-playground/src/components/tabs/simple-bridge/action-button.tsx
  web-playground/src/hooks/queries/useFastBridgeQuery.ts
  web-playground/src/hooks/queries/useKlerosCoreDrawsQuery.ts
  web-playground/src/hooks/queries/useKlerosCoreJurorsQuery.ts
  web-playground/src/hooks/useContractCall.ts
Due: none

fix(browserlists)
  web-playground/package.json
Due: prettier --write

feat: update title
  web-playground/src/index.html
Due: prettier --write

added challenge for FastBridgeReceiver
  contracts/src/bridge/FastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeBridgeArbitrum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/ISafeBridge.sol
  contracts/src/bridge/interfaces/arbitrum/Inbox.sol
  contracts/src/bridge/interfaces/arbitrum/Outbox.sol
Due: prettier --write, solhint --fix

feat(demo day UI): add dry run feedback and toast notifications
  web-playground/package.json
  web-playground/src/assets/svgs/arbitrum_opacity.svg
  web-playground/src/assets/svgs/ethereum-eth-logo.svg
  web-playground/src/components/main.tsx
  web-playground/src/components/notifications.tsx
  web-playground/src/components/tabs/fast-bridge/action-button.tsx
  web-playground/src/components/tabs/fast-bridge/l1-rulings.tsx
  web-playground/src/components/tabs/juror.tsx
  web-playground/src/components/tabs/kleros-core/dispute-id.tsx
  web-playground/src/components/tabs/kleros-core/disputes-table.tsx
  web-playground/src/components/tabs/kleros-core/draw-jurors.tsx
  web-playground/src/components/tabs/kleros-core/execute-button.tsx
  web-playground/src/components/tabs/kleros-core/index.tsx
  web-playground/src/components/tabs/kleros-core/jurors-table.tsx
  web-playground/src/components/tabs/kleros-core/pass-period.tsx
  web-playground/src/components/tabs/l1-arbitrable/disputes.tsx
  web-playground/src/components/tabs/l1-arbitrable/index.tsx
  web-playground/src/components/tabs/l1-gateway/outgoing-dispute-creations.tsx
  web-playground/src/components/tabs/simple-bridge/action-button.tsx
  web-playground/src/components/tabs/simple-bridge/dispute-creation.tsx
  web-playground/src/components/tabs/simple-bridge/index.tsx
  web-playground/src/components/tabs/witness/dispute.tsx
  web-playground/src/components/tabs/witness/evidence.tsx
  web-playground/src/components/tabs/witness/evidences-table.tsx
  web-playground/src/components/tabs/witness/index.tsx
  web-playground/src/components/tabs/witness/submit-evidence.tsx
  web-playground/src/hooks/queries/useArbitrableExampleQuery.ts
  web-playground/src/hooks/queries/useDisputeKitQuery.ts
  web-playground/src/hooks/queries/useFastBridgeQuery.ts
  web-playground/src/hooks/queries/useKlerosCoreDisputesQuery.ts
  web-playground/src/hooks/useTimeLeft.ts
  web-playground/src/utils/getContract.ts
  web-playground/tsconfig.json
  yarn.lock
Due: prettier --write

feat(demo day UI): refactor switchAndSend transactions
  web-playground/src/components/notifications.tsx
  web-playground/src/components/tabs/fast-bridge/action-button.tsx
  web-playground/src/components/tabs/fast-bridge/l1-rulings.tsx
  web-playground/src/components/tabs/juror.tsx
  web-playground/src/components/tabs/kleros-core/dispute-id.tsx
  web-playground/src/components/tabs/kleros-core/draw-jurors.tsx
  web-playground/src/components/tabs/kleros-core/execute-button.tsx
  web-playground/src/components/tabs/kleros-core/index.tsx
  web-playground/src/components/tabs/kleros-core/pass-period.tsx
  web-playground/src/components/tabs/l1-arbitrable/index.tsx
  web-playground/src/components/tabs/simple-bridge/action-button.tsx
  web-playground/src/components/tabs/witness/submit-evidence.tsx
  web-playground/src/hooks/useContractFunction.ts
  web-playground/src/hooks/useContractFunction.tsx
Due: none

fix: wrong disputeID in kleros core tab
  web-playground/src/components/tabs/kleros-core/dispute-id.tsx
Due: none

changes in the fastBridgeReceiver
  contracts/src/bridge/FastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeBridgeArbitrum.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
Due: prettier --write, solhint --fix

feat(rng): increment number generator deployed
  contracts/.gitignore
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deployments/arbitrumRinkeby/IncrementalNG.json
  contracts/scripts/changeRng.ts
Due: prettier --write

chore: removed possibly unnecessary fsevents
  web-playground/package.json
  yarn.lock
Due: prettier --write

docs: updated README
  web-playground/README.md
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: (any of: *.{md,html,json}) or (any of: *.sol)
  solhint --fix: any of: *.sol
