Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

fix(contracts): change to uint256 the subcourtID param in subcourt creation event
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

feat(KlerosCore): move sortition tree to a separate module
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/data-structures/ISortitionModule.sol
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

feat(bridge): sender subgraph
  subgraph-fastbridge/fastbridge/README.md
  subgraph-fastbridge/fastbridge/abis/FastBridgeSender.json
  subgraph-fastbridge/fastbridge/package.json
  subgraph-fastbridge/fastbridge/schema.graphql
  subgraph-fastbridge/fastbridge/src/FastBridgeSender.ts
  subgraph-fastbridge/fastbridge/subgraph.yaml
  subgraph-fastbridge/fastbridge/tsconfig.json
Due: prettier --write

chore: updated lock file
  yarn.lock
Due: none

chore: refresh lockfile
  contracts/package.json
  web/package.json
  yarn.lock
Due: prettier --write

chore: bumping up yarn, typescript, moving commitling to a separate config file
  .github/workflows/contracts-testing.yml
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  README.md
  commitlint.config.js
  contracts/package.json
  package.json
  web/package.json
  yarn.lock
Due: prettier --write

chore: bla
  yarn.lock
Due: none

chore: blaaa
  .github/workflows/contracts-testing.yml
Due: none

chore: final fix
  .github/workflows/contracts-testing.yml
  yarn.lock
Due: none

chore: final fix2
  .github/workflows/contracts-testing.yml
Due: none

chore: moved commitlint config to a separate file
  commitlint.config.js
  package.json
Due: prettier --write

chore: fixed inconsistent yarn version
  .yarn/releases/yarn-3.2.0.cjs
  package.json
Due: prettier --write

docs: yarn prepare
  README.md
Due: prettier --write

chore: rename pages/home to pages/Home
  web/src/app.tsx
  web/src/pages/Home/Community/Element.tsx
  web/src/pages/Home/Community/index.tsx
  web/src/pages/Home/CourtOverview/Chart.tsx
  web/src/pages/Home/CourtOverview/Stats.tsx
  web/src/pages/Home/CourtOverview/TimeSeriesChart.tsx
  web/src/pages/Home/CourtOverview/index.tsx
  web/src/pages/Home/LatestCases.tsx
  web/src/pages/Home/index.tsx
Due: prettier --write

fix(web): correctly name small html tag in global-style
  web/src/styles/global-style.ts
Due: prettier --write

feat(web): add cases page
  web/package.json
  web/src/app.tsx
  web/src/pages/Cases/CasesMatrix.tsx
  web/src/pages/Cases/Filters.tsx
  web/src/pages/Cases/Search.tsx
  web/src/pages/Cases/Stats.tsx
  web/src/pages/Cases/StatsAndFilters.tsx
  web/src/pages/Cases/index.tsx
  yarn.lock
Due: prettier --write

chore: deployed the current arbitration contracts to Arb Rinkeby
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deployments/arbitrumRinkeby/DisputeKitClassic.json
  contracts/deployments/arbitrumRinkeby/IncrementalNG.json
  contracts/deployments/arbitrumRinkeby/KlerosCore.json
  contracts/deployments/arbitrumRinkeby/SortitionSumTreeFactory.json
Due: prettier --write

feat(bridge): addition + changes for polygon
  contracts/src/bridge/FastBridgeReceiverOnPolygon.sol
  contracts/src/bridge/SafeBridgeRouterForPolygon.sol
  contracts/src/bridge/interfaces/polygon/FxBaseChildTunnel.sol
  contracts/src/bridge/interfaces/polygon/FxBaseRootTunnel.sol
  contracts/src/bridge/interfaces/polygon/ICheckpointManager.sol
  contracts/src/bridge/interfaces/polygon/IFxMessageProcessor.sol
  contracts/src/bridge/interfaces/polygon/IFxStateSender.sol
  contracts/src/libraries/polygon/ExitPayloadReader.sol
  contracts/src/libraries/polygon/Merkle.sol
  contracts/src/libraries/polygon/MerklePatriciaProof.sol
  contracts/src/libraries/polygon/RLPReader.sol
Due: prettier --write, solhint --fix

fix: file imports correction
  contracts/src/bridge/interfaces/polygon/FxBaseRootTunnel.sol
Due: prettier --write, solhint --fix

fix: minor changes
  contracts/src/bridge/FastBridgeReceiverOnPolygon.sol
  contracts/src/bridge/SafeBridgeRouterForPolygon.sol
Due: prettier --write, solhint --fix

feat(Sortition): move phases and MAX_STAKE_PATH to sortition module
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/data-structures/ISortitionModule.sol
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

feat(KC): add multiple sortition module support
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/data-structures/ISortitionModule.sol
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

fix(KC): parent stake increment
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

refactor: moved the 3rd party code from the canonical bridges
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeReceiverOnPolygon.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeBridgeRouter.sol
  contracts/src/bridge/SafeBridgeRouterForPolygon.sol
  contracts/src/bridge/canonical/arbitrum/AddressAliasHelper.sol
  contracts/src/bridge/canonical/arbitrum/IArbRetryableTx.sol
  contracts/src/bridge/canonical/arbitrum/IArbSys.sol
  contracts/src/bridge/canonical/arbitrum/IInbox.sol
  contracts/src/bridge/canonical/arbitrum/IOutbox.sol
  contracts/src/bridge/canonical/gnosis-chain/IAMB.sol
  contracts/src/bridge/canonical/polygon/FxBaseChildTunnel.sol
  contracts/src/bridge/canonical/polygon/FxBaseRootTunnel.sol
  contracts/src/bridge/canonical/polygon/lib/ExitPayloadReader.sol
  contracts/src/bridge/canonical/polygon/lib/Merkle.sol
  contracts/src/bridge/canonical/polygon/lib/MerklePatriciaProof.sol
  contracts/src/bridge/canonical/polygon/lib/RLPReader.sol
  contracts/src/bridge/interfaces/polygon/ICheckpointManager.sol
  contracts/src/bridge/interfaces/polygon/IFxMessageProcessor.sol
  contracts/src/bridge/interfaces/polygon/IFxStateSender.sol
  contracts/src/bridge/single-message/SafeBridgeReceiverOnEthereum.sol
  contracts/src/bridge/single-message/SafeBridgeSenderToArbitrumFromEthereum.sol
  contracts/src/bridge/single-message/SafeBridgeSenderToEthereum.sol
  contracts/src/bridge/single-message/SafeBridgeSenderToGnosis.sol
  contracts/src/bridge/test/FastBridgeSenderMock.sol
  contracts/src/bridge/test/arbitrum/ArbSysMock.sol
  contracts/src/bridge/test/arbitrum/BridgeMock.sol
  contracts/src/bridge/test/arbitrum/InboxMock.sol
  contracts/src/bridge/test/arbitrum/OutboxMock.sol
  contracts/src/bridge/test/gnosis-chain/MockAMB.sol
Due: prettier --write, solhint --fix

feat: guards against corner cases in FB receivers, refactors, typo fixes
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeReceiverOnPolygon.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeBridgeRouterToGnosis.sol
  contracts/src/bridge/SafeBridgeRouterToPolygon.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/interfaces/ISafeBridgeReceiver.sol
  contracts/src/bridge/interfaces/ISafeBridgeRouter.sol
  contracts/src/bridge/interfaces/ISafeBridgeSender.sol
  contracts/src/bridge/merkle/MerkleProof.sol
  contracts/src/bridge/merkle/MerkleTree.sol
  contracts/src/bridge/test/FastBridgeSenderMock.sol
  contracts/src/bridge/test/merkle/MerkleProofExposed.sol
  contracts/src/bridge/test/merkle/MerkleTreeExposed.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IForeignGatewayBase.sol
  contracts/src/gateway/interfaces/IForeignGatewayMock.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGatewayBase.sol
  contracts/test/bridge/merkle/index.ts
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,html,json})) or (any of: *.sol)
  solhint --fix: any of: *.sol
