Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "prettier --write",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

fix: explicit type casting in DisputeKitEnabled
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

feat: tweaked the KlerosCore events, updated the unit tests
  contracts/src/arbitration/KlerosCore.sol
  contracts/test/arbitration/index.ts
Due: prettier --write, solhint --fix

refactor: add a parameter to BatchVerified event, test a claim() with a zero root
  contracts/src/bridge/FastBridgeReceiverOnEthereum.sol
  contracts/src/bridge/FastBridgeReceiverOnGnosis.sol
  contracts/src/bridge/FastBridgeReceiverOnPolygon.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/test/integration/index.ts
Due: prettier --write, solhint --fix

chore: yarn plugins
  .yarn/plugins/@yarnpkg/plugin-version.cjs
Due: none

chore: speed up yarn test by disabling recompile/rechecking types
  contracts/package.json
Due: prettier --write

feat: migration to Goerli (L1) and Arbitrum Goerli (L2)
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/01-foreign-chain.ts
  contracts/deploy/02-home-chain.ts
  contracts/deployments/arbitrumGoerli/.chainId
  contracts/deployments/arbitrumGoerli/DisputeKitClassic.json
  contracts/deployments/arbitrumGoerli/IncrementalNG.json
  contracts/deployments/arbitrumGoerli/SortitionSumTreeFactory.json
  contracts/hardhat.config.ts
  contracts/scripts/changeRng.ts
  contracts/scripts/generateDeploymentsMarkdown.sh
Due: prettier --write

fix(KC): fix compiler error
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

fix(KC): fix staking update
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

fix(KC): test update
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/index.ts
  contracts/test/integration/index.ts
Due: prettier --write

wip: add missing events to subgraph
  subgraph/schema.graphql
  subgraph/src/KlerosCore.ts
  subgraph/subgraph.yaml
Due: prettier --write

refactor(web): make cases page into component for reusability
  web/src/components/CasesDisplay/CasesGrid.tsx
  web/src/components/CasesDisplay/Filters.tsx
  web/src/components/CasesDisplay/Search.tsx
  web/src/components/CasesDisplay/Stats.tsx
  web/src/components/CasesDisplay/StatsAndFilters.tsx
  web/src/components/CasesDisplay/index.tsx
  web/src/pages/Cases/index.tsx
Due: prettier --write

feat: arbitrable metaevidence can be changed by governor
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
Due: prettier --write, solhint --fix

wip(web): add Dashboard page
  web/src/app.tsx
  web/src/assets/svgs/styled/eth.svg
  web/src/assets/svgs/styled/pnk.svg
  web/src/components/CasesDisplay/CasesGrid.tsx
  web/src/components/CasesDisplay/index.tsx
  web/src/components/HelpIcon.tsx
  web/src/pages/Dashboard/JurorInfo/Coherency.tsx
  web/src/pages/Dashboard/JurorInfo/JurorRewards.tsx
  web/src/pages/Dashboard/JurorInfo/StakingRewards.tsx
  web/src/pages/Dashboard/JurorInfo/TokenRewards.tsx
  web/src/pages/Dashboard/JurorInfo/index.tsx
  web/src/pages/Dashboard/WithHelpTooltip.tsx
  web/src/pages/Dashboard/index.tsx
Due: prettier --write

refactor: finally KlerosCore is now below 24KB
  contracts/package.json
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

Message layout comment update
  contracts/src/bridge/FastBridgeSender.sol
Due: prettier --write, solhint --fix

chore: reployed successfully to both goerli and rinkeby
  contracts/README.md
  contracts/deployments/arbitrumGoerli/DisputeKitClassic.json
  contracts/deployments/arbitrumGoerli/DisputeResolver.json
  contracts/deployments/arbitrumGoerli/FastBridgeSenderToEthereum.json
  contracts/deployments/arbitrumGoerli/HomeGatewayToEthereum.json
  contracts/deployments/arbitrumGoerli/KlerosCore.json
  contracts/deployments/arbitrumRinkeby/ConstantNG.json
  contracts/deployments/arbitrumRinkeby/DisputeKitClassic.json
  contracts/deployments/arbitrumRinkeby/FastBridgeSender.json
  contracts/deployments/arbitrumRinkeby/FastBridgeSenderToEthereum.json
  contracts/deployments/arbitrumRinkeby/HomeGateway.json
  contracts/deployments/arbitrumRinkeby/HomeGatewayToEthereum.json
  contracts/deployments/arbitrumRinkeby/SafeBridgeArbitrum.json
  contracts/deployments/goerli/.chainId
  contracts/deployments/goerli/ArbitrableExample.json
  contracts/deployments/goerli/FastBridgeReceiverOnEthereum.json
  contracts/deployments/goerli/ForeignGatewayOnEthereum.json
  contracts/deployments/rinkeby/FastBridgeReceiver.json
  contracts/deployments/rinkeby/FastBridgeReceiverOnEthereum.json
  contracts/deployments/rinkeby/ForeignGateway.json
  contracts/deployments/rinkeby/ForeignGatewayOnEthereum.json
  contracts/scripts/generateDeploymentsMarkdown.sh
Due: prettier --write

chore: lockfile update
  contracts/package.json
  web/package.json
  yarn.lock
Due: prettier --write

feat(bridge): sender subgraph
  subgraph-fastbridge/fastbridge/README.md
  subgraph-fastbridge/fastbridge/abis/FastBridgeSender.json
  subgraph-fastbridge/fastbridge/package.json
  subgraph-fastbridge/fastbridge/schema.graphql
  subgraph-fastbridge/fastbridge/src/FastBridgeSender.ts
  subgraph-fastbridge/fastbridge/subgraph.yaml
  subgraph-fastbridge/fastbridge/tsconfig.json
Due: prettier --write

feat: bridge subgraph update script
  subgraph-fastbridge/abis/FastBridgeSender.json
  subgraph-fastbridge/scripts/updateAbis.sh
  subgraph-fastbridge/subgraph.yaml
Due: prettier --write
