Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

chore(contracts-testing): force clearing cache
  .github/workflows/contracts-testing.yml
Due: none

chore: fixing some checksum issue
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  contracts/package.json
  package.json
  yarn.lock
Due: prettier --write

fix(GHSA-64g7-mvw6-v9qj): upgraded shelljs (#28)
  .github/workflows/contracts-testing.yml
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  contracts/package.json
  package.json
  yarn.lock
Due: prettier --write

refactor(gateway): add RAB pragma and use internal functions for the bridge
  contracts/src/bridge/IL1Bridge.sol
  contracts/src/bridge/IL2Bridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL2Bridge.sol
  contracts/src/bridge/xdai/xDaiL1Bridge.sol
  contracts/src/bridge/xdai/xDaiL2Bridge.sol
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
Due: prettier --write, solhint --fix

feat(gateway): add forwarding for arbitrationCost
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

feat: web-playground placeholder
  package.json
  web-playground/README.md
Due: prettier --write

feat(gateway): add and use feeForJuror param by governor
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
  contracts/src/gateway/arbitrum/EthereumGateway.sol
  contracts/src/gateway/xdai/EthereumGateway.sol
Due: prettier --write, solhint --fix

chore(package-lock.json): redundant file, removed
  contracts/package-lock.json
  yarn.lock
Due: prettier --write

chore(package-lock.json): redundant file, removed (#31)
  contracts/package-lock.json
  yarn.lock
Due: prettier --write

fix(IDisputeKit): comment
  README.md
  contracts/src/arbitration/IDisputeKit.sol
Due: prettier --write, solhint --fix

fix(IDisputeKit): comment (#33)
  README.md
  contracts/src/arbitration/IDisputeKit.sol
Due: prettier --write, solhint --fix

feat(KlerosCore): staking implementation
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

feat(KlerosCore): governor proposal function
  contracts/src/arbitration/KlerosCore.sol
Due: prettier --write, solhint --fix

refactor(bridge): favor composition over inheritance
  contracts/src/bridge/IL1Bridge.sol
  contracts/src/bridge/IL2Bridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL2Bridge.sol
  contracts/src/bridge/xdai/xDaiL1Bridge.sol
  contracts/src/bridge/xdai/xDaiL2Bridge.sol
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
  contracts/src/gateway/arbitrum/ArbitrumGateway.sol
  contracts/src/gateway/arbitrum/EthereumGateway.sol
  contracts/src/gateway/xdai/EthereumGateway.sol
  contracts/src/gateway/xdai/xDaiGateway.sol
Due: prettier --write, solhint --fix

fix(gateway): update disputeHash calculation
  contracts/src/gateway/BaseForeignGateway.sol
Due: prettier --write, solhint --fix

feat: add web template
  web-playground/.editorconfig
  web-playground/.eslintrc.json
  web-playground/.gitignore
  web-playground/.parcelrc
  web-playground/.yarnrc.yml
  web-playground/LICENSE
  web-playground/global.d.ts
  web-playground/package.json
  web-playground/src/assets/svgs/.gitkeep
  web-playground/src/components/.gitkeep
  web-playground/src/hooks/.gitkeep
  web-playground/src/index.html
  web-playground/src/index.tsx
  web-playground/src/styles/global-style.ts
  web-playground/src/styles/themes.ts
  web-playground/tsconfig.json
  yarn.lock
Due: prettier --write

refactor(gateway): rename some functions
  contracts/src/bridge/IL1Bridge.sol
  contracts/src/bridge/IL2Bridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL2Bridge.sol
  contracts/src/bridge/xdai/xDaiL1Bridge.sol
  contracts/src/bridge/xdai/xDaiL2Bridge.sol
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

refactor(gateway): rename xdai -> gnosis
  contracts/src/bridge/gnosis-chain/GnosisL1Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL2Bridge.sol
  contracts/src/bridge/gnosis-chain/interfaces/IAMB.sol
  contracts/src/gateway/gnosis-chain/EthereumGateway.sol
  contracts/src/gateway/gnosis-chain/GnosisGateway.sol
Due: prettier --write, solhint --fix

refactor(gateway): getSubmissionPrice -> bridgingCost
  contracts/src/bridge/IL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL1Bridge.sol
  contracts/src/gateway/BaseForeignGateway.sol
Due: prettier --write, solhint --fix

refactor(gateway): reorder struct members
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
Due: prettier --write, solhint --fix

refactor: rename gateways
  contracts/src/gateway/arbitrum/EthereumToArbitrumGateway.sol
  contracts/src/gateway/arbitrum/GnosisToEthereumGateway.sol
  contracts/src/gateway/gnosis-chain/GnosisGateway.sol
Due: prettier --write, solhint --fix

Add arbitration cost forwarding and feeForJuror param
  contracts/src/bridge/IL1Bridge.sol
  contracts/src/bridge/IL2Bridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL2Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL1Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL2Bridge.sol
  contracts/src/bridge/gnosis-chain/interfaces/IAMB.sol
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
  contracts/src/gateway/arbitrum/EthereumToArbitrumGateway.sol
  contracts/src/gateway/arbitrum/GnosisToEthereumGateway.sol
  contracts/src/gateway/gnosis-chain/GnosisGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/src/gateway/xdai/EthereumGateway.sol
Due: prettier --write, solhint --fix

refactor: combine ILxBridge to ISafeBridge
  contracts/src/bridge/IL2Bridge.sol
  contracts/src/bridge/ISafeBridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL2Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL1Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL2Bridge.sol
  contracts/src/gateway/BaseForeignGateway.sol
  contracts/src/gateway/BaseHomeGateway.sol
Due: prettier --write, solhint --fix

feat(fast-bridge): add and use fast bridge
  contracts/src/bridge/FastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/ISafeBridge.sol
  contracts/src/bridge/SafeArbitrumBridge.sol
  contracts/src/bridge/SafeGnosisBridge.sol
  contracts/src/bridge/arbitrum/ArbL1Bridge.sol
  contracts/src/bridge/arbitrum/ArbL2Bridge.sol
  contracts/src/bridge/arbitrum/interfaces/IArbRetryableTx.sol
  contracts/src/bridge/arbitrum/interfaces/IBridge.sol
  contracts/src/bridge/arbitrum/interfaces/IInbox.sol
  contracts/src/bridge/arbitrum/interfaces/IMessageProvider.sol
  contracts/src/bridge/arbitrum/interfaces/IOutbox.sol
  contracts/src/bridge/gnosis-chain/GnosisL1Bridge.sol
  contracts/src/bridge/gnosis-chain/GnosisL2Bridge.sol
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/interfaces/ISafeBridge.sol
  contracts/src/bridge/interfaces/arbitrum/AddressAliasHelper.sol
  contracts/src/bridge/interfaces/arbitrum/IArbSys.sol
  contracts/src/bridge/interfaces/gnosis-chain/IAMB.sol
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/arbitrum/ArbitrumGateway.sol
  contracts/src/gateway/arbitrum/EthereumToArbitrumGateway.sol
  contracts/src/gateway/arbitrum/GnosisToEthereumGateway.sol
  contracts/src/gateway/gnosis-chain/GnosisGateway.sol
Due: prettier --write, solhint --fix

fix(gateway): fix cross-chain evidence related functions when we don't have a safebridge
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignEvidence.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeEvidence.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

feat(gateway): create disputeHash on HomeGateway as well
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

fix(gateway): update relayCreateDispute
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeArbitrumBridge.sol
  contracts/src/bridge/SafeGnosisBridge.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
Due: prettier --write, solhint --fix

refactor: chainID init
  contracts/src/gateway/ForeignGateway.sol
  contracts/src/gateway/HomeGateway.sol
Due: prettier --write, solhint --fix

feat: no use of the Safe Bridge in normal operations
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeArbitrumBridge.sol
  contracts/src/bridge/SafeGnosisBridge.sol
  contracts/src/bridge/interfaces/ISafeBridge.sol
Due: prettier --write, solhint --fix

feat: access control on the fast bridge sender
  contracts/src/bridge/FastBridgeSender.sol
Due: prettier --write, solhint --fix

refactor: minor renames
  contracts/src/bridge/FastBridgeReceiver.sol
  contracts/src/bridge/FastBridgeSender.sol
  contracts/src/bridge/SafeBridgeArbitrum.sol
  contracts/src/bridge/SafeBridgeGnosis.sol
  contracts/src/bridge/interfaces/ISafeBridge.sol
  contracts/src/gateway/ForeignGateway.sol
Due: prettier --write, solhint --fix

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: (any of: *.{md,html,json}) or (any of: *.sol)
  solhint --fix: any of: *.sol
