Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

fix(subgraph): correctly stringify evidence group id
  subgraph/src/DisputeKitClassic.ts
Due: prettier --write

chore(subgraph): update start blocks
  subgraph/subgraph.yaml
Due: none

feat(subgraph): handle new Ruling event
  subgraph/src/KlerosCore.ts
  subgraph/subgraph.yaml
Due: prettier --write

fix(subgraph): event definition subgraph config
  subgraph/subgraph.yaml
Due: none

fix(web): use only cloudflare's gateway
  web/src/components/EvidenceCard.tsx
  web/src/hooks/useIPFSCloudflare.ts
  web/src/hooks/useIPFSQuery.ts
Due: prettier --write

fix(web): add placeholder when there are no cases
  web/src/components/CasesDisplay/index.tsx
  web/src/pages/Courts/CourtDetails/Description.tsx
Due: prettier --write

refactor: moved token folder
  contracts/src/token/Faucet.sol
  contracts/src/token/PNK.sol
  contracts/src/token/WETH.sol
  web/src/hooks/queries/usePNKAllowance.ts
  web/src/hooks/queries/usePNKBalance.ts
  web/src/pages/Courts/CourtDetails/StakeModal.tsx
Due: prettier --write, solhint --fix

fix: issue #538 Upload the policies to Estuary (instead of the Kleros gateway)
  contracts/scripts/policyUpdate.ts
Due: prettier --write

chore: gateways deployment to ArbitrumGoerli and Chiado
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/00-rng.ts
  contracts/deploy/01-foreign-gateway-on-ethereum.ts
  contracts/deploy/01-foreign-gateway-on-gnosis.ts
  contracts/deploy/02-home-gateway-to-ethereum.ts
  contracts/deploy/02-home-gateway-to-gnosis.ts
  contracts/deploy/03-vea-mock.ts
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deployments/arbitrumGoerli/HomeGatewayToGnosis.json
  contracts/deployments/chiado/.chainId
  contracts/deployments/chiado/ForeignGatewayOnGnosis.json
  contracts/deployments/chiado/WETH.json
  contracts/deployments/chiado/WETHFaucet.json
  contracts/hardhat.config.ts
  contracts/package.json
  contracts/src/gateway/ForeignGatewayOnGnosis.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidV2.sol
  yarn.lock
Due: prettier --write, solhint --fix

docs: added contract addresses
  contracts/README.md
  contracts/scripts/generateDeploymentsMarkdown.sh
Due: prettier --write

feat(web): add useJurorBalance hook
  web/src/hooks/useJurorBalance.ts
Due: prettier --write

feat(web): add stake panel in Court page
  web/src/pages/Courts/CourtDetails/StakeModal.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/JurorStakeDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/index.tsx
Due: prettier --write

chore: deployment of xKlerosLiquidV2 and wrapped pnk
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/00-rng.ts
  contracts/deploy/01-foreign-gateway-on-ethereum.ts
  contracts/deploy/01-foreign-gateway-on-gnosis.ts
  contracts/deploy/02-home-gateway-to-ethereum.ts
  contracts/deploy/03-vea-mock.ts
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deployments/chiado/ArbitrableExample.json
  contracts/deployments/chiado/ForeignGatewayOnGnosis.json
  contracts/deployments/chiado/SortitionSumTreeFactory.json
  contracts/deployments/chiado/WPNKFaucet.json
  contracts/deployments/chiado/WrappedPinakion.json
  contracts/deployments/chiado/xKlerosLiquidV2.json
  contracts/scripts/console-init-chiado.ts
  contracts/scripts/console-init.ts
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/token/WrappedPinakion.sol
Due: prettier --write, solhint --fix

chore: extra env variable
  contracts/.env.example
Due: none

chore: vea-contracts bumped
  contracts/package.json
  yarn.lock
Due: prettier --write

chore: added goerli network
  contracts/scripts/generateDeploymentArtifact.sh
Due: none

feat: chiado deployment scripts (WIP)
  contracts/deploy/01-foreign-gateway-gnosis.ts
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deployments/chiado/MetaEvidence_ArbitrableExample.json
  contracts/scripts/console-init.ts
  contracts/src/arbitration/mock/Faucet.sol
  contracts/src/arbitration/mock/WETH.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/WrappedPinakion.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidToV2.sol
Due: prettier --write, solhint --fix

chore: generated artifacts for existing contracts
  contracts/deployments/chiado/TokenBridge.json
  contracts/deployments/gnosischain/PolicyRegistry.json
  contracts/deployments/gnosischain/TokenBridge.json
  contracts/deployments/gnosischain/TransactionBatcher.json
  contracts/deployments/gnosischain/WETH.json
  contracts/deployments/gnosischain/WrappedPinakion.json
  contracts/deployments/gnosischain/xKlerosLiquid.json
  contracts/deployments/gnosischain/xPNK.json
  contracts/hardhat.config.ts
  contracts/scripts/generateDeploymentArtifact.sh
Due: prettier --write

style(web): add grid layout to court stats
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
Due: prettier --write

refactor(web): extract reusable Field component
  web/src/components/DisputeCard/DisputeInfo.tsx
  web/src/components/Field.tsx
Due: prettier --write

feat(web): add Tag component
  web/src/components/Tag.tsx
Due: prettier --write

style(web): add more space b/w tabs and text container (court details)
  web/src/pages/Courts/CourtDetails/Description.tsx
Due: prettier --write

refactor(web): refactor useJurorBalance hook
  web/src/hooks/queries/useJurorBalance.ts
  web/src/hooks/useJurorBalance.ts
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/JurorStakeDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
Due: prettier --write

refactor(web): refactor JurorStakeDispaly component
  web/src/pages/Courts/CourtDetails/StakePanel/JurorStakeDisplay.tsx
Due: prettier --write

style(web): add pointer cursor to 'Stake/Withdraw all' label
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
Due: prettier --write

fix(web): change input args of swr mutate function to trigger validation]
  web/src/pages/Courts/CourtDetails/StakePanel/StakeWithdrawButton.tsx
Due: prettier --write

fix(web): add theme styling to text in stake panel
  web/src/pages/Courts/CourtDetails/StakePanel/index.tsx
Due: prettier --write

refactor(web): remove junk className prop from hr tag
  web/src/pages/Courts/CourtDetails/index.tsx
Due: prettier --write

feat(web): improve winning option card style
  web/src/pages/Cases/CaseDetails/Appeal/Classic/Options/StageTwo.tsx
  web/src/pages/Cases/CaseDetails/Appeal/OptionCard.tsx
Due: prettier --write

fix(web): useMemo to avoid rerenders
  web/src/hooks/useClassicAppealContext.tsx
Due: prettier --write

style(web): make court page mobile friendly
  web/src/assets/svgs/icons/dice.svg
  web/src/assets/svgs/icons/locker.svg
  web/src/pages/Courts/CourtDetails/StakePanel/InputDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/JurorStakeDisplay.tsx
  web/src/pages/Courts/CourtDetails/StakePanel/index.tsx
  web/src/pages/Courts/CourtDetails/Stats.tsx
  web/src/pages/Courts/CourtDetails/index.tsx
Due: prettier --write

chore: improved handling of WETH by the arbitrable, randomizer fixed again, console functions
  contracts/README.md
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/deploy/04-klerosliquid-to-v2-gnosis.ts
  contracts/deployments/chiado/ArbitrableExample.json
  contracts/deployments/chiado/xKlerosLiquidV2.json
  contracts/scripts/console-init-chiado.ts
  contracts/scripts/console-init.ts
  contracts/src/arbitration/arbitrables/ArbitrableExample.sol
  contracts/src/kleros-v1/kleros-liquid-xdai/xKlerosLiquidV2.sol
Due: prettier --write, solhint --fix

fix(web): remove meaningless $ amount under cases and active jurors
  web/src/pages/Home/CourtOverview/Stats.tsx
Due: prettier --write

fix(web): use cloudflare gateway for the links too
  web/src/pages/Cases/CaseDetails/Overview.tsx
Due: prettier --write

fix(web): use cloudflare gateway to fetch metaevidence
  web/src/hooks/queries/useGetMetaEvidence.ts
Due: prettier --write

fix(subgraph): rule update not being saved
  subgraph/src/KlerosCore.ts
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,html,json})) or (any of: *.sol)
  solhint --fix: any of: *.sol
