Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "prettier --write",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

feat(Sortition): set juror inactive
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/data-structures/ISortitionModule.sol
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

chore(tests): refactoring
  contracts/deploy/00-home-chain-arbitration.ts
  contracts/test/arbitration/draw.ts
  contracts/test/arbitration/index.ts
  contracts/test/arbitration/unstake.ts
  contracts/test/integration/index.ts
Due: prettier --write

chore: bump eslint parser
  web/package.json
  yarn.lock
Due: prettier --write

chore: removed unnecessary label
  .github/dependabot.yml
Due: none

fix: netlify
  web/netlify.toml
Due: none

chore: netlify fix bis
  netlify-yarn-berry-plugin/README.md
  netlify-yarn-berry-plugin/index.js
  netlify-yarn-berry-plugin/manifest.yml
  netlify-yarn-berry-plugin/package.json
  web/netlify.toml
Due: prettier --write

chore: netlify fix 3
  web/netlify.toml
Due: none

chore: netlify fix 4
  web/netlify.toml
Due: none

chore: remove the tumour that is the graph-cli's gluegun with a healthy one
  subgraph-fastbridge/package.json
  subgraph/package.json
  yarn.lock
Due: prettier --write

chore: bump graph-cli with a newer ipfs-http-client
  subgraph-fastbridge/package.json
  subgraph/package.json
  yarn.lock
Due: prettier --write

chore: fixed the resolution of eth-sig-util to avoid an unreleased ethereumjs-abi dep
  package.json
  yarn.lock
Due: prettier --write

feat(unstaking): linear complexity in n
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

chore: added missing PNK deployment artifact
  contracts/deployments/arbitrumGoerli/PNK.json
Due: prettier --write

chore: allow artefact uploads for codeql workflow
  .github/workflows/codeql-analysis.yml
Due: none

chore: update ui-components-library
  web/package.json
  yarn.lock
Due: prettier --write

refactor: remove duplicated files
  web/src/pages/Cases/CaseDetails/voting/Binary.tsx
  web/src/pages/Cases/CaseDetails/voting/index.tsx
Due: prettier --write

chore: change arbitrum rinkeby for arbitrum goerli
  web/src/app.tsx
  web/src/hooks/useConnectedContract.ts
  web/src/utils/getContract.ts
Due: prettier --write

refactor: abstract components from dispute details page
  web/src/pages/Cases/CaseDetails/Tabs.tsx
  web/src/pages/Cases/CaseDetails/Timeline.tsx
  web/src/pages/Cases/CaseDetails/index.tsx
Due: prettier --write

fix: allow for undefined id in useDisputeDetailsQuery
  web/src/hooks/queries/useDisputeDetailsQuery.ts
Due: prettier --write

refactor: address code climate review
  web/src/pages/Cases/CaseDetails/Timeline.tsx
Due: prettier --write

chore: downgrading @kleros/graph-cli
  subgraph-fastbridge/package.json
  subgraph/package.json
  yarn.lock
Due: prettier --write

chore: depending on the Vea NPM package for the bridge
  contracts/package.json
  contracts/src/bridge/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/interfaces/IReceiverGateway.sol
  contracts/src/bridge/interfaces/ISafeBridgeReceiver.sol
  contracts/src/bridge/interfaces/ISafeBridgeRouter.sol
  contracts/src/bridge/interfaces/ISafeBridgeSender.sol
  contracts/src/bridge/interfaces/ISenderGateway.sol
  contracts/src/bridge/single-message/interfaces/IFastBridgeReceiver.sol
  contracts/src/bridge/single-message/interfaces/IFastBridgeSender.sol
  contracts/src/bridge/single-message/interfaces/ISafeBridgeReceiver.sol
  contracts/src/bridge/single-message/interfaces/ISafeBridgeSender.sol
  contracts/src/gateway/HomeGateway.sol
  contracts/src/gateway/interfaces/IForeignGateway.sol
  contracts/src/gateway/interfaces/IHomeGateway.sol
  contracts/src/gateway/single-message/ForeignGatewayOnEthereum.sol
  contracts/src/gateway/single-message/HomeGatewayToEthereum.sol
  yarn.lock
Due: prettier --write, solhint --fix
