Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint --fix

fix(web): correctly check undefined on DisputeInfo for period
  web/src/components/DisputeCard/DisputeInfo.tsx
Due: prettier --write

feat(web): implement refuse to arbitrate
  web/src/pages/Cases/CaseDetails/Voting/Binary.tsx
  web/src/pages/Cases/CaseDetails/Voting/VotingHistory.tsx
Due: prettier --write

feat(web): add loading animation to switch chain page
  web/src/components/WrongChainBoundary.tsx
Due: prettier --write

feat(web): correctly set active tab when path changes
  web/src/pages/Cases/CaseDetails/index.tsx
Due: prettier --write

feat(web): improve timeline titles and subtitles
  web/src/pages/Cases/CaseDetails/index.tsx
Due: prettier --write

feat(web): add PNK contract to getContract
  web/src/utils/getContract.ts
Due: prettier --write

fix(web): change court policy link
  web/src/pages/Cases/CaseDetails/Overview.tsx
Due: prettier --write

fix: lock file
  yarn.lock
Due: none

fix(Arbitration): small bug fixes
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix: lockfile
  yarn.lock
Due: none

fix: gluegun from hell must be destroyed
  yarn.lock
Due: none

fix(DisputeKits): compiler error
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix(SortitionModule): rn hashing + typos
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

feat(Sortition): shotaro's suggestions
  contracts/src/arbitration/IDisputeKit.sol
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
  contracts/src/data-structures/ISortitionModule.sol
  contracts/src/data-structures/SortitionModule.sol
Due: prettier --write, solhint --fix

feat(KlerosCore): disable subcourt
  contracts/src/arbitration/KlerosCore.sol
  contracts/src/arbitration/dispute-kits/DisputeKitClassic.sol
  contracts/src/arbitration/dispute-kits/DisputeKitSybilResistant.sol
Due: prettier --write, solhint --fix

fix: dependabot security CVE-2022-3517 CVE-2021-23358 CVE-2022-29078 CVE-2022-37601
  package.json
  yarn.lock
Due: prettier --write

fix(subgraph): solve indexing error when creating disputes
  subgraph/src/KlerosCore.ts
Due: prettier --write

feat(wip, subgraph): add support for the policy registry
  subgraph/schema.graphql
  subgraph/src/KlerosCore.ts
  subgraph/src/PolicyRegistry.ts
  subgraph/subgraph.yaml
Due: prettier --write

feat(web): add dispute overview page and routing
  web/src/pages/Cases/CaseDetails/voting/Binary.tsx
  web/src/pages/Cases/CaseDetails/voting/index.tsx
  yarn.lock
Due: prettier --write

feat(web): add web3 boilerplate
  yarn.lock
Due: none

fix(subgraph): remove safety check as is not needed
  subgraph/src/DisputeKitClassic.ts
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{md,html,json})) or (any of: *.sol)
  solhint --fix: any of: *.sol
