Repository kleros/kleros-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, solhint --fix

.lintstagedrc.json:

{
  "*.js": "eslint --cache --fix",
  "*.{md,html,json}": "prettier --write",
  "*.sol": [
    "prettier --write",
    "solhint --fix"
  ]
}

fix(web): change tintMedium lightTheme to correct value
  web/src/styles/themes.ts
Due: none

feat(web): add Periods enum to constants
  web/src/consts/periods.ts
Due: none

feat(web): add DisputeCard component
  web/src/assets/svgs/icons/bookmark.svg
  web/src/assets/svgs/icons/calendar.svg
  web/src/assets/svgs/icons/law-balance.svg
  web/src/assets/svgs/icons/pile-coins.svg
  web/src/components/DisputeCard/DisputeInfo.tsx
  web/src/components/DisputeCard/PeriodBanner.tsx
  web/src/components/DisputeCard/index.tsx
  web/src/pages/home/index.tsx
Due: none

merkle library
  contracts/src/data-structures/MerkleTreeFactory.sol
  contracts/src/libraries/MerkleProof.sol
Due: prettier --write, solhint --fix

chore(web): add icon svgs and remove fixed width and height
  web/src/assets/svgs/icons/bookmark.svg
  web/src/assets/svgs/icons/calendar.svg
  web/src/assets/svgs/icons/ethereum.svg
  web/src/assets/svgs/icons/law-balance.svg
  web/src/assets/svgs/icons/pile-coins.svg
  web/src/assets/svgs/icons/pnk.svg
  web/src/assets/svgs/icons/redistributed-pnk.svg
  web/src/assets/svgs/icons/user.svg
Due: none

fix(web): add css attributes to control svg size
  web/src/components/DisputeCard/DisputeInfo.tsx
  web/src/components/StatDisplay.tsx
Due: none

feat(web): populate stats cards with testnet data
  web/package.json
  web/src/app.tsx
  web/src/hooks/queries/useDataPointQuery.ts
  web/src/pages/home/Stats.tsx
  yarn.lock
Due: prettier --write

chore(web): modify browserlist to avoid build error and bump parcel version
  web/package.json
  yarn.lock
Due: prettier --write

feat(web): change id to be the daily timestamp
  subgraph/package.json
  subgraph/schema.graphql
  subgraph/src/KlerosCore.ts
  yarn.lock
Due: prettier --write

refactor(web): fix styling
  subgraph/src/KlerosCore.ts
Due: none

chore(web): add queries path to the alias field
  web/package.json
  web/tsconfig.json
Due: prettier --write

feat(web): add home page chart
  web/codegen.yaml
  web/package.json
  web/src/graphql/generated.ts
  web/src/hooks/queries/useChartQuery.ts
  web/src/pages/home/Chart.tsx
  web/src/pages/home/index.tsx
  yarn.lock
Due: prettier --write

refactor(web): use graphql typing to improve datapointquery
  web/src/hooks/queries/useDataPointQuery.ts
  web/src/pages/home/Stats.tsx
Due: none

fix(web): increase z-index header
  web/src/layout/header/index.tsx
Due: none

efficient merkle tree implementation.
  contracts/src/bridge/merkle/MerkleProof.sol
  contracts/src/bridge/merkle/MerkleTreeHistory.sol
  contracts/src/data-structures/MerkleTreeFactory.sol
  contracts/src/libraries/MerkleProof.sol
Due: prettier --write, solhint --fix

feat(tests): some more tests
  contracts/.eslintrc.js
  contracts/test/arbitration/core.spec.ts
  contracts/test/arbitration/dispute-kit-clasic.spec.ts
  contracts/test/shared/arbitration.ts
  contracts/test/shared/constants.ts
  contracts/test/shared/index.ts
Due: eslint --cache --fix

chore: refactor code to acomodate new components version
  web/package.json
  web/src/components/LightButton.tsx
  web/src/layout/header/index.tsx
  web/src/layout/header/navbar/Menu.tsx
  web/src/layout/header/navbar/index.tsx
  yarn.lock
Due: prettier --write

fix: remove fill field from menu-icon svgs
  web/src/assets/svgs/menu-icons/dark-mode.svg
  web/src/assets/svgs/menu-icons/help.svg
  web/src/assets/svgs/menu-icons/light-mode.svg
  web/src/assets/svgs/menu-icons/notifications.svg
  web/src/assets/svgs/menu-icons/settings.svg
Due: none

feat: hash pair ordering
  contracts/src/bridge/merkle/MerkleProof.sol
  contracts/src/bridge/merkle/MerkleTreeHistory.sol
Due: prettier --write, solhint --fix

test: merkle tree root validation
  contracts/test/bridge/merkle/MerkleTree.ts
  contracts/test/bridge/merkle/index.ts
Due: none

style: changed comments
  contracts/src/bridge/merkle/MerkleTreeHistory.sol
Due: prettier --write, solhint --fix
